@model MediClinic.Models.PatientViewModel
@{
    ViewData["Title"] = "Cover Letter";
    Layout = "~/Views/Shared/_NF2Layout.cshtml";
}
@section styles{
    <link href="~/app-assets/vendors/flag-icon/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/app-assets/vendors/dropify/css/dropify.min.css" rel="stylesheet" />
    <link href="~/app-assets/base/jquery-ui.css" rel="stylesheet" />
    <style>
        .sidebar .sidebar-content .sidebar-header {
            display: none !important;
        }

        .input-field {
            margin: 0 auto !important;
        }

        .font-size-1 {
            font-size: 1.5rem !important;
        }

        .dropify-wrapper {
            margin-top: 14px !important;
            height: 120px !important;
            border-radius: 4px !important;
        }

        .form-firstName {
            margin-top: -55px !important;
        }

        .form-inline p {
            text-transform: capitalize
        }

        .select-wrapper input.select-dropdown {
            display: none
        }

        @@media only screen and (max-width:900px) {
            .card {
                margin-top: 230px !important;
            }
        }

        @@media only screen and (max-width:601px) {

            .form-firstName {
                margin-top: 12px !important;
            }
        }

        textarea {
            width: 102%;
            height: 5rem;
            border-radius: 4px;
            border: 1px solid #cfcfcf !important;
        }

        #instruction {
            height: 10rem;
        }
    </style>
}
@section scripts{
    <script src="~/app-assets/vendors/dropify/js/dropify.min.js"></script>
    <script src="~/app-assets/base/jquery-ui.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/app-assets/js/jquery.form.js"></script>
    <script>
        $(document).ready(function () {
            $('.orderRecord').autocomplete({
                data: {
                    "Internal Doctor": null,
                    "Chiroprachter": null,
                    "Physical Therapyst": null,
                    "Acupancturist": null,
                    "Psycologist": null,
                    "YES, W/ HIPAA AUTHORIZATION": null,
                },
                limit: 10,
                minLength: 0
            });
            $('.recordF').autocomplete({
                data: {
                    "$0.25": null,
                    "$0.50": null,
                    "FREE": null,
                    "CUSTOM": null,
                },
                limit: 10,
                minLength: 0
            });
            $('.changeS').autocomplete({
                data: {
                    "Activated": null,
                    "Deactivated": null,
                },
                limit: 10,
                minLength: 0
            });
            $('#viewR').selectize({

            });
            $('#editR').selectize({

            });
            $('#editP').selectize({

            });
        });
    </script>
}
 
<div class="row">
    <div class="col s12">
        <div class="container">

            <div class="row mb-1">


                <div class="col s12">
                    <div class="container">
                        <div class="row">
                            <div class="col s6 m6  margin-top-8">
                                <h5 class="breadcrumbs-title color-blue">Cover Letter</h5>
                            </div>


                            <div class="col s6 m6 margin-top-8">
                                <a class="waves-effect waves-light float-right mr-2 mt-2" href="javascript:void(0);">
                                    <i class="material-icons right arrow-icon">arrow_back</i>

                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <form class="form-inline col s12">
                                <div class="row">
                                    <div class="col s6 m6  margin-top-8">
                                        <h5>Insurer</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m6">
                                        <p>Name	</p>

                                        <div class="input-field col s12 pl-0">
                                            <input class="text-input" type="text" placeholder="enter name">
                                        </div>
                                    </div>
                                    <div class="col s12 m6">
                                        <p>Phone Number</p>

                                        <div class="input-field col s12 pl-0">
                                            <input class="text-input" type="text" placeholder="enter phone number">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m6">
                                        <p>Address</p>

                                        <div class="input-field col s12 pl-0">
                                            <textarea row="10" placeholder="enter address"> </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s6 m6  margin-top-8">
                                        <h5>Self Insurer/Representative</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m6">
                                        <p>Name	</p>

                                        <div class="input-field col s12 pl-0">
                                            <input class="text-input" type="text" placeholder="enter name">
                                        </div>
                                    </div>
                                    <div class="col s12 m6">
                                        <p>Phone Number</p>

                                        <div class="input-field col s12 pl-0">
                                            <input class="text-input" type="text" placeholder="enter phone number">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m6">
                                        <p>Address</p>

                                        <div class="input-field col s12 pl-0">
                                            <textarea row="10" placeholder="enter address"> </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s6 m6  margin-top-8">
                                        <h5>Claim Insurer/Representative</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m6">
                                        <p>Name	</p>

                                        <div class="input-field col s12 pl-0">
                                            <input class="text-input" type="text" placeholder="enter name">
                                        </div>
                                    </div>
                                    <div class="col s12 m6">
                                        <p>Phone Number</p>

                                        <div class="input-field col s12 pl-0">
                                            <input class="text-input" type="text" placeholder="enter phone number">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m6 ">
                                        <p>Address</p>

                                        <div class="input-field col s12 pl-0">
                                            <textarea row="10" placeholder="enter address"> </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m6">
                                        <p>Date</p>
                                        <div class="input-field col s12 m12 l12 pl-0">
                                            <input type="text" class="datepicker text-input" placeholder="MM/DD/YYYY">
                                        </div>

                                    </div>
                                    <div class="col s12 m6">
                                        <p>Policy Holder</p>
                                        <div class="input-field col s12 pl-0">
                                            <input class="text-input" type="text" placeholder="enter policy holder">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col s12 m6">
                                        <p>Policy Number</p>
                                        <div class="input-field col s12 m12 pl-0">
                                            <input class="text-input" type="text" placeholder="enter policy number">
                                        </div>
                                    </div>
                                    <div class="col s12 m6">
                                        <p>Date of Accident</p>
                                        <div class="input-field col s12 m12 pl-0">
                                            <input type="text" class="datepicker text-input " placeholder="MM/DD/YYYY">

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12 m6">
                                        <p>Claim Number</p>
                                        <div class="input-field col s12 m12 pl-0">
                                            <input class="text-input" type="text" placeholder="enter claim number">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s6 m6  margin-top-8">
                                        <h5>Applicant</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m6">
                                        <p>Name</p>

                                        <div class="input-field col s12 pl-0">
                                            <input class="text-input" type="text" placeholder="enter name">
                                        </div>
                                    </div>
                                    <div class="col s12 m6 ">
                                        <p>Address</p>

                                        <div class="input-field col s12 pl-0">
                                            <textarea row="10" placeholder="enter address"> </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col s12 m6 form-firstName">
                                        <p>Instruction</p>

                                        <div class="input-field col s12 pl-0">
                                            <textarea id="instruction" row="10" placeholder="enter address">Complete The Attached Db-450 Form
Immediately If You Are Entitled To New
York State Disability Benefits And Mail Or
Give It To Your Employer. To Find Out If
You Are Eligible, Telephone The New York
State Disability Benefits Bureau At (800) 353-
3092 </textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2 mb-2">
                                    <div class="col s12 m12" style="text-align:center">
                                        <a href="javascript:void(0);" class="waves-effect waves-light btn add-btn">Save</a>
                                        <a href="javascript:void(0);" class="waves-effect waves-light Recreate btn">Edit</a>
                                        <a href="javascript:void(0);" class="waves-effect waves-light Recreate btn">Cancel</a>

                                    </div>
                                </div>

                            </form>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
