@model MediClinic.Models.PatientViewModel
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-content">
                <div class="container">
                    <div class="card-title">
                        <div class="row">
                            <div class="col">
                                <h4 class="card-title">History of Hospitalisation</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12">
                            <div id="HospitalizationsInfoGrid">
                                @*<partial name="../_PatientPartialView/_ManageMHHospitalizationsInfo" />*@
                                <partial name="../_MedicalHistoryPartial/_ManageMHPastDiseaseHistory.cshtml" />

                            </div>
                        </div>
                    </div>
                    <form asp-action="SaveMHHospitalizationsInfo" asp-controller="PatientMedicalHistory" method="post" data-ajax="true" data-ajax-success="onMHHospitalizationsInfo(data)" id="HospitalizationForm">
                        <div class="row">
                            @Html.TextBoxFor(model => model.MHHospitalizationsInfo.Id, new { @class = "form-control", @Id = "MHHospitalizationsInfoId", @style = "display:none" })
                            <div class="col-sm-12 col-md-4">
                                <p class="content-p">
                                    Hospital Name <span class="required"> * </span>
                                </p>
                                <input class="text-input" asp-for="MHHospitalizationsInfo.HospitalName" id="MHHospitalizationsInfoName" type="text" placeholder="Hospital Name">
                                <span class="required" asp-validation-for="MHHospitalizationsInfo.HospitalName"></span>
                            </div>


                            <div class="col-sm-12 col-md-4">
                                <p>
                                    Year
                                </p>
                                <div id="yearId">
                                    <select data-placeholder="Select Year" class="select2 yearselector" asp-for="MHHospitalizationsInfo.Year" id="MHHospitalizationsInfoYear">
                                        <option value="" selected disabled></option>
                                    </select>
                                    <span class="required" asp-validation-for="MHHospitalizationsInfo.Year"></span>
                                </div>

                            </div>
                            <div class="col-sm-12 col-md-4">
                                <p class="content-p">
                                    Phone Number
                                </p>
                                <input class="text-input" asp-for="MHHospitalizationsInfo.PhoneNo" id="MHHospitalizationsInfoPhoneNo" type="text" placeholder=" Phone Number">
                                <span class="required" asp-validation-for="MHHospitalizationsInfo.PhoneNo"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <p>
                                    Reason
                                </p>
                                <div id="reasonId">
                                    <select class="select2" data-placeholder="Select Reason" asp-for="MHHospitalizationsInfo.illnessORinjury" id="MHHospitalizationsInfoillnessORinjury">
                                        <option value="" selected disabled></option>
                                        <option value="Illness">Illness</option>
                                        <option value="Injury">Injury</option>
                                    </select>
                                    <span class="required" asp-validation-for="MHHospitalizationsInfo.illnessORinjury"></span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <p class="content-p">
                                    Location
                                </p>
                                <input class="text-input" asp-for="MHHospitalizationsInfo.Address" id="MHHospitalizationsInfoAddress" type="text" placeholder=" Location">
                                <span class="required" asp-validation-for="MHHospitalizationsInfo.Address"></span>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <p class="content-p">
                                    Notes
                                </p>
                                <input class="text-input" asp-for="MHHospitalizationsInfo.Notes" id="MHHospitalizationsInfoNotes" type="text" placeholder="Notes">
                                <span class="required" asp-validation-for="MHHospitalizationsInfo.Notes"></span>
                            </div>
                        </div>
                        <div class="row mt-2 mb-2">
                            <div class="col" style="text-align:center">
                                <button type="submit" id="SaveHospitalization" class="btn add-btn">Save</button>
                                <button type="reset" class="Recreate btn">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

