

<div class="section">

    <div class="card">
        <div class="card-content">
            <h5 class="color-blue">
                Family History
            </h5>

            <div class="row">
                <div class="col s12">
                    <label>Do You Have A Family Member With A Chronic Disease ? </label>

                    <p>
                        <label>
                            <input name="group1" type="radio" value="true" class="rbFamilyHistory" />
                            <span>Yes</span>
                        </label>
                        <label>
                            <input name="group1" type="radio" value="false" class="rbFamilyHistory" checked />
                            <span>No</span>
                        </label>
                    </p>
                </div>
            </div>

            <div id="FamilyHistory" >

                <partial name="_ManageAllergiesHistory" />

                <div class="row mt-2">
                    <div class="col m6 l6 s12 pt-1">
                        <p> Relation</p>
                        <div class="input-field col s12 m12 pl-0">
                            <input class="text-input" type="text" placeholder="relation name" />
                        </div>
                    </div>
                    <div class="col m6 l6 s12 pt-1">
                        <p> If Deceased - Death Age</p>
                        <div class="input-field col s12 m12 pl-0">
                            <input class="text-input" type="number" placeholder="age" />
                        </div>
                    </div>
                    <div class="col m6 l6 s12 pt-1">
                        <p>MEDICAL CONDITIONS/CAUSE OF DEATH</p>
                        <div class="input-field col s12 m12 pl-0">
                            <input class="text-input" type="text" placeholder="cause" />
                        </div>
                    </div>
                      <div class="col m6 l6 s12 pt-1">
                        <p>Notes</p>
                        <div class="input-field col s12 m12 pl-0">
                            <input class="text-input" type="text" placeholder="notes" />
                        </div>
                    </div>

                    <div class="col s12 m12 right mt-2" style="text-align:right">
                        <a href="javascript:void(0);" class="waves-effect waves-light btn add-btn">Save</a>

                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>

    $(".rbFamilyHistory")
        .change(function () {
            debugger;
            var val = $(this).val();
            if (val == 'true') {
                $("#FamilyHistory").show();

            }
            else {
                $("#FamilyHistory").hide();
            }
        });
</script>