@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row">
    <table id="dsurgical-history-table" class="display ">
        <thead>
            <tr class="uppercase">
                <th>Sr#</th>
                <th> Surgery Type</th>
                <th> Surgeon Name</th>
                <th> Year</th>
                <th> Notes</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="card">
                <td>365</td>
                <td>abc</td>
                <td>ef</td>
                <td>NA</td>
                <td>NA</td>
                <td>
                    <a class='dropdown-trigger btn action-btn option-dropdown-btn' href='javascript:void(0);' data-target='dropdown1'>Options <i class="material-icons right arrow-set">keyboard_arrow_down</i></a>
                    <!-- Dropdown Structure -->
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="#!" class="option-a"><i class="material-icons">remove_red_eye</i>Preview</a></li>
                        <li><a href="#!" class="option-a"><i class="material-icons">print</i>Print</a></li>
                        <li><a href="#!" class="option-a"><i class="material-icons">share</i>Share</a></li>

                    </ul>

                </td>
            </tr>
            <tr class="card">
                <td>365</td>
                <td>abc</td>
                <td>ef</td>
                <td>NA</td>
                <td>NA</td>
                <td>
                    <a class='dropdown-trigger btn action-btn option-dropdown-btn' href='javascript:void(0);' data-target='dropdown2'>Options <i class="material-icons right arrow-set">keyboard_arrow_down</i></a>
                    <!-- Dropdown Structure -->
                    <ul id='dropdown2' class='dropdown-content'>
                        <li><a href="#!" class="option-a"><i class="material-icons">remove_red_eye</i>Preview</a></li>
                        <li><a href="#!" class="option-a"><i class="material-icons">print</i>Print</a></li>
                        <li><a href="#!" class="option-a"><i class="material-icons">share</i>Share</a></li>

                    </ul>

                </td>
            </tr>
            <tr class="card">
                <td>365</td>
                <td>abc</td>
                <td>ef</td>
                <td>NA</td>
                <td>NA</td>
                <td>
                    <a class='dropdown-trigger btn action-btn option-dropdown-btn' href='javascript:void(0);' data-target='dropdown3'>Options <i class="material-icons right arrow-set">keyboard_arrow_down</i></a>
                    <!-- Dropdown Structure -->
                    <ul id='dropdown3' class='dropdown-content'>
                        <li><a href="#!" class="option-a"><i class="material-icons">remove_red_eye</i>Preview</a></li>
                        <li><a href="#!" class="option-a"><i class="material-icons">print</i>Print</a></li>
                        <li><a href="#!" class="option-a"><i class="material-icons">share</i>Share</a></li>

                    </ul>

                </td>
            </tr>
        </tbody>

    </table>
</div>

