
    <div class="row">
        <table class="table table-striped table-card responsive-table padding-0-12">
            <thead>
                <tr class="uppercase patientlist-table">
                    <th>Sr#</th>
                    <th> Allergy To</th>
                    <th> Reaction</th>
                    <th> Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr class="card">
                    <td>365</td>
                    <td>abc</td>
                    <td>ef</td>
                    <td>NA</td>
                </tr>
                <tr class="card">
                    <td>365</td>
                    <td>abc</td>
                    <td>ef</td>
                    <td>NA</td>
                </tr>
                <tr class="card">
                    <td>365</td>
                    <td>abc</td>
                    <td>ef</td>
                    <td>NA</td>
                </tr>

            </tbody>
        </table>
    </div>