
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div class="row">
        <table id="ProblemMedical-table" class="display">
            <thead>
                <tr class="uppercase">
                    <th>Type</th>
                    <th>Date/year</th>
                    <th>Current Status</th>
                    <th>Report/Documents</th>
                    <th>Action</th>
                    <th>
                       Select
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="card">
                    <td>Cancer</td>
                    <td>1920</td>
                    <td>Remission</td>
                    <td>Yes</td>
                    <td>
                        <a class='dropdown-trigger btn action-btn option-dropdown-btn' href='javascript:void(0);' data-target='dropdown3'>Options <i class="material-icons right arrow-set">keyboard_arrow_down</i></a>
                        <!-- Dropdown Structure -->
                        <ul id='dropdown3' class='dropdown-content'>
                            <li><a href="#!" class="option-a"><i class="material-icons">remove_red_eye</i>Preview</a></li>
                            <li><a href="#!" class="option-a"><i class="material-icons">print</i>Print</a></li>
                            <li><a href="#!" class="option-a"><i class="material-icons">share</i>Share</a></li>

                        </ul>

                    </td>
                    <td>
                        <p>
                            <label>
                                <input name="group1" class="with-gap" type="radio" />
                                <span></span>
                            </label>
                        </p>
                    </td>
                </tr>
                <tr class="card">
                    <td>Mental</td>
                    <td>1920</td>
                    <td>Remission</td>
                    <td>N/A</td>
                    <td>
                        <a class='dropdown-trigger btn action-btn option-dropdown-btn' href='javascript:void(0);' data-target='dropdown2'>Options <i class="material-icons right arrow-set">keyboard_arrow_down</i></a>
                        <!-- Dropdown Structure -->
                        <ul id='dropdown2' class='dropdown-content'>
                            <li><a href="#!" class="option-a"><i class="material-icons">remove_red_eye</i>Preview</a></li>
                            <li><a href="#!" class="option-a"><i class="material-icons">print</i>Print</a></li>
                            <li><a href="#!" class="option-a"><i class="material-icons">share</i>Share</a></li>

                        </ul>

                    </td>
                    <td>
                        <p>
                            <label>
                                <input name="group1" class="with-gap" type="radio" />
                                <span></span>
                            </label>
                        </p>
                    </td>
                </tr>
                <tr class="card">
                    <td>Diabeties</td>
                    <td>1920</td>
                    <td>Remission</td>
                    <td>Yes</td>
                    <td>
                        <a class='dropdown-trigger btn action-btn option-dropdown-btn' href='javascript:void(0);' data-target='dropdown1'>Options <i class="material-icons right arrow-set">keyboard_arrow_down</i></a>
                        <!-- Dropdown Structure -->
                        <ul id='dropdown1' class='dropdown-content'>
                            <li><a href="#!" class="option-a"><i class="material-icons">remove_red_eye</i>Preview</a></li>
                            <li><a href="#!" class="option-a"><i class="material-icons">print</i>Print</a></li>
                            <li><a href="#!" class="option-a"><i class="material-icons">share</i>Share</a></li>

                        </ul>

                    </td>
                    <td>
                        <p>
                            <label>
                                <input name="group1" class="with-gap" type="radio" />
                                <span></span>
                            </label>
                        </p>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    