@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="section">

    <div class="card">
        <div class="card-content">
            <h5 class="color-blue">
                Problem Medical History
            </h5>
            <partial name="_ManageProblemMedicalHistory" />



            <div class="row mt-2">
                <div class="col m6 l6 s12">
                    <p> Problem Name</p>
                    <div class="input-field col s12 m12 pl-0">
                        <input class="text-input" type="text" placeholder="Dr Aibolit" />
                    </div>
                </div>
                <div class="col m6 l6 s12">
                    <p> Notes</p>
                    <div class="input-field col s12 m12 pl-0">
                        <input class="text-input" type="text" placeholder="Notes" />
                    </div>
                </div>
                <div class="col s12 m12 right mt-2" style="text-align:right">
                    <a href="javascript:void(0);" class="waves-effect waves-light btn add-btn">Save</a>

                </div>
            </div>
        </div>
    </div>
    </div>
