@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="section">

    <div class="card">
        <div class="card-content">
            <h5 class="color-blue">
                Surgical History
            </h5>
            <partial name="_ManageSurgicalHistory" />



            <div class="row mt-2">
                <div class="col m4 l4 s12">
                    <p> Surgery Type</p>
                    <div class="input-field col s12 m12 pl-0">
                        <input class="text-input" type="text" placeholder="surgery type" />

                    </div>
                </div>
                <div class="col m4 l4 s12">
                    <p> Surgeon Name</p>
                    <div class="input-field col s12 m12 pl-0">
                        <input class="text-input" type="text" placeholder="surgeon name" />

                    </div>
                </div>
                <div class="col m4 l4 s12">
                    <p>Year</p>
                    <div class="input-field col s12 m12 pl-0">
                        <input class="text-input" type="text" placeholder="year" />

                    </div>
                </div>
                <div class="col s12 m12 right mt-2">
                    <p>Notes</p>
                    <div class="input-field col s12 m12 pl-0">
                        <input class="text-input" type="text" placeholder="notes" />

                    </div>

                </div>
                <div class="col s12 m12 right mt-2">
                    <a href="javascript:void(0);" class="waves-effect waves-light btn add-btn right">Save</a>

                </div>
            </div>
        </div>
    </div>
</div>
