@model MediClinic.Models.LegalInfoViewModel
@{
    ViewData["Title"] = "AddLegalInfoElite";
    Layout = "~/Views/Shared/_LayoutElite.cshtml";
}
@section styles{

    <link href="~/Elite/node_modules/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <style>
        .AddReminder p {
            margin-top: 1rem !important;
        }
        .per-collection {
            width: 50% !important;
        }
        .chkbox {
            margin-left: 195px !important;
        }
        .Attorny {
            margin-left: 195px !important;
        }
        .list-check {
            list-style: none !important;
            display: inline-flex;
            margin-top: 25px;
            padding-left: 0px !important;
        }
        .AttName {
            margin-left: 37px !important;
            padding-top: 40px;
            color: #547CEA !important;
        }
        .AddReminder {
            box-shadow: 1px 1px 12px 1px #e2e2e2 !important;
            border-radius: 5px !important;
        }
        .attorney-name {
            height: 3.5rem !important;
        }
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 301px !important;
        }
        .set_dropdown .dropdown-toggle {
            height: 45px !important;
            line-height: 2.5 !important;
            background-color: #fff;
            border-color: #dae0e5;
            margin-bottom: 10px !important;
        }
        .set_dropdown .dropdown-toggle:hover {
            color: #6b6f82 !important;
        }

        .set_dropdown .dropdown-toggle:focus {
            box-shadow: none !important;
            outline: none !important;
        }
        .bootstrap-select .dropdown-menu li a:focus, .bootstrap-select .dropdown-menu li a {
            color: #6b6f82 !important;
            padding: 11px 9px !important;
            font-size: 15px !important;
        }
        .dropdown-item.active, .dropdown-item:active {
            color: #fff;
            background-color: #f8f9fa !important;
        }
        .card .card-content {
            padding: 24px;
            border-radius: 0 0 2px 2px;
        }
        .card {
            border-radius: 5px !important;
            box-shadow: 1px 1px 12px 1px #e2e2e2 !important;
        }
        .form-add-btn {
            margin-top: 3.4rem !important;
            height: 44px !important;
            line-height: 44px !important;
        }
    </style>
    <link rel="stylesheet" href="~/Elite/node_modules/dropify/dist/css/dropify.min.css">
}
@section scripts{
    <script src="~/Elite/node_modules/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            $(".select2").select2();
            $('.selectpicker').selectpicker();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#legalinfo').change(function () {
                $('.legal').hide();
                $('#' + $(this).val()).show();
            });
            $('#legalinfo').find('option[value="legal1"]').attr("selected", true)
            $('#legal1').show();
        });
    </script>
    <script src="~/Elite/node_modules/dropify/dist/js/dropify.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropify').dropify();
        });
    </script>
}
<div class="page-wrapper ">
    <div class="container">
        <div id="breadcrumbs-wrapper">
            <!-- Search for small screen-->
            <div class="row">
                <div class=" col margin-top-8">
                    <h5 class="breadcrumbs-title color-blue"> Legal Info</h5>
                </div>
                <div class="col">
                    <a class="waves-effect waves-light float-right" style="margin-top: -11px" href="/LegalInfo/LegalInfoGrid">
                        <i class="mdi mdi-arrow-left right arrow-icon"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div id="legal1" class="legal" style="display: none">
            <div class="card">
                <div class="card-content">
                    <div id="breadcrumbs-wrapper">
                        <!-- Search for small screen-->
                    </div>
                    <div class="row">
                        <form class="col-sm-12 " asp-action="Add" asp-controller="LegalInfo" method="post">
                            <input type="hidden" id="billingId" asp-for="legalInfoDto.LegalInfoId" />
                            <div class="row">
                                <div class=" col" margin-top-8">
                                    <h5 class="breadcrumbs-title color-blue">Legal Info</h5>
                                </div>
                            </div>
                            <div class="row set_dropdown">
                                <div class="col">
                                    <select class="selectpicker right" asp-for="legalInfoDto.options">
                                        <option selected="selected" value="1">P.I (Personal) Injury Attorney Name</option>
                                        <option value="2">Collection/Arbitration Attorney</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input-group">
                                        <ul class="icheck-list list-check">
                                            <li>
                                                <input type="checkbox" class="check" id="minimal-checkbox-1" asp-for="legalInfoDto.FromAttorney">
                                                <label for="minimal-checkbox-1">From Attorney </label>
                                            </li>
                                            <li class="Attorny">
                                                <input type="checkbox" class="check" id="minimal-checkbox-1" asp-for="legalInfoDto.ToAttorney">
                                                <label for="minimal-checkbox-1">To Attorney</label>
                                            </li>
                                            <li class="chkbox">
                                                <input type="checkbox" class="check" id="minimal-checkbox-1" asp-for="legalInfoDto.OfAttorney">
                                                <label for="minimal-checkbox-1"> Of Attorney</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col ">
                                    <p>Firm Name</p>
                                    <div class="input-field">
                                        <select class="select2 form-control  text-input" style="width: 100%;" asp-for="legalInfoDto.FirmName">
                                            <option>Select one</option>
                                            <option value="AK">Dr Aibolt</option>
                                            <option value="HI">Dr Jack</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col ">
                                    <p>Attorney Name</p>
                                    <div class="input-field">
                                        <select class="select2 form-control  text-input" style="width: 100%;" asp-for="legalInfoDto.AttorneyName">
                                            <option>Select one</option>
                                            <option value="AK">Dr Aibolt</option>
                                            <option value="HI">Dr Jack</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col ">
                                    <p>Address Line 1</p>
                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Address Line 1" asp-for="legalInfoDto.AddressLine1">
                                    </div>
                                </div>
                                <div class=" col ">
                                    <p>Address Line 2</p>
                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Address Line 2" asp-for="legalInfoDto.AddressLine2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col ">
                                    <p>Address Line 3</p>
                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Address Line 3" asp-for="legalInfoDto.AddressLine3">
                                    </div>
                                </div>
                                <div class=" col ">
                                    <div class="row">
                                        <div class="col">
                                            <p>Country</p>
                                            <div class="input-field">
                                                <input type="text" class="text-input" placeholder="Enter Country" asp-for="legalInfoDto.Country">
                                            </div>
                                        </div>
                                        <div class=" col ">
                                            <p>City</p>
                                            <div class="input-field">
                                                <input type="text" class="text-input" placeholder="Enter City" asp-for="legalInfoDto.city">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col ">
                                    <div class="row">
                                        <div class="col">
                                            <p>State</p>
                                            <div class="input-field">
                                                <select class="select2 form-control  text-input" style="width: 100%;" asp-for="legalInfoDto.State">
                                                    <option>Select State</option>
                                                    <option value="AK">One</option>
                                                    <option value="HI">Two</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class=" col ">
                                            <p>Zip</p>
                                            <div class="input-field">
                                                <input type="text" class="text-input" placeholder="Enter Zip" asp-for="legalInfoDto.Zip">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col ">
                                    <p>Phone Number</p>
                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Phone Number" asp-for="legalInfoDto.PhoneNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col ">
                                    <p>Fax</p>
                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Fax Number" asp-for="legalInfoDto.Fax">
                                    </div>
                                </div>
                                <div class=" col ">
                                    <p>Email</p>
                                    <div class="input-field">
                                        <input type="email" class="text-input" placeholder="Enter Email Address" asp-for="legalInfoDto.Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-md-6 col-12 ">
                                    <p>Website</p>
                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Website Name" asp-for="legalInfoDto.Website">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col ">
                                    <p>Leading Paralegal Name Or Initials</p>
                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Leading Paralegal Name Or Initials" asp-for="legalInfoDto.LeadingName">
                                    </div>
                                </div>
                                <div class=" col ">
                                    <p>Leading Paralegal Phones</p>
                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Leading Paralegal Phones" asp-for="legalInfoDto.LeadingPhone">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col ">
                                    <p>Leading Paralegal Extension</p>
                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Leading Paralegal Extension" asp-for="legalInfoDto.LeadingExtension">
                                    </div>
                                </div>
                                <div class=" col ">
                                    <p>Leading Paralegal Email</p>
                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Leading Paralegal Email" asp-for="legalInfoDto.LeadingEmail">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-md-6 col-xs-6 col-xl-6 col-12">
                                    <p>Leading Paralegal Fax</p>
                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Leading Paralegal Fax" asp-for="legalInfoDto.LeadingFax">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class=" col-md-10 col-xs-10 col-xl-10  col-10">
                                            <p>Legal status</p>
                                            <div class="input-field">
                                                <input type="text" class="text-input" placeholder="Enter Legal status" asp-for="legalInfoDto.LegalStatus">
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-2 col-xs-2 col-xl-2">
                                            <a class="btn form-add-btn sideout" href="javascript:void(0);" onclick="ToggleSideBar('slide-out-rightPI2')"><i class="ti ti-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2 mb-2">
                                <div class="col s12">
                                    <div class="center">
                                        <button type="submit" class="waves-effect waves-light btn add-btn">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--<div id="legal2" class="legal" style="display:none">
            <div class="card">
                <div class="card-content">
                    <div id="breadcrumbs-wrapper">-->
                        <!-- Search for small screen-->
                        <!--<div class="row">
                            <div class=" col" margin-top-8">
                                <h5 class="breadcrumbs-title color-blue"> Collection/Arbitration Attorney</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <ul class="icheck-list list-check">
                                    <li>
                                        <input type="checkbox" class="check" id="minimal-checkbox-1">
                                        <label for="minimal-checkbox-1">From Attorney </label>
                                    </li>
                                    <li class="Attorny">
                                        <input type="checkbox" class="check" id="minimal-checkbox-1">
                                        <label for="minimal-checkbox-1">To Attorney</label>
                                    </li>
                                    <li class="chkbox">
                                        <input type="checkbox" class="check" id="minimal-checkbox-1">
                                        <label for="minimal-checkbox-1"> Of Attorney</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form class="col-sm-12  ">
                            <div class="row">
                                <div class="col ">
                                    <p>Firm Name</p>
                                    <div class="input-field">
                                        <select class="select2 form-control  text-input" style="width: 100%; ">
                                            <option>Select one</option>
                                            <option value="AK">Dr Aibolt</option>
                                            <option value="HI">Dr Jack</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col ">
                                    <p>Attorney Name</p>
                                    <div class="input-field">
                                        <select class="select2 form-control  text-input" style="width: 100%;">
                                            <option>Select one</option>
                                            <option value="AK">Dr Aibolt</option>
                                            <option value="HI">Dr Jack</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col ">
                                    <p>Address Line 1</p>
                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Address Line 1">
                                    </div>
                                </div>
                                <div class=" col ">
                                    <p>Address Line 2</p>
                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Address Line 2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col ">
                                    <p>Address Line 3</p>
                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Address Line 3">
                                    </div>
                                </div>
                                <div class=" col ">
                                    <div class="row">
                                        <div class="col">
                                            <p>Country</p>
                                            <div class="input-field">
                                                <input type="text" class="text-input" placeholder="Enter Country">
                                            </div>
                                        </div>
                                        <div class=" col ">
                                            <p>City</p>
                                            <div class="input-field">
                                                <input type="text" class="text-input" placeholder="Enter City">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col ">
                                    <div class="row">
                                        <div class="col">
                                            <p>State</p>
                                            <div class="input-field">
                                                <select class="select2 form-control  text-input" style="width: 100%; ">
                                                    <option>Select State</option>
                                                    <option value="AK">One</option>
                                                    <option value="HI">Two</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class=" col ">
                                            <p>Zip</p>
                                            <div class="input-field">
                                                <input type="text" class="text-input" placeholder="Enter Zip">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col ">
                                    <p>Phone Number</p>
                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Phone Number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col ">
                                    <p>Fax</p>
                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Fax Number">
                                    </div>
                                </div>
                                <div class=" col ">
                                    <p>Email</p>
                                    <div class="input-field">
                                        <input type="email" class="text-input" placeholder="Enter Email Address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-md-6 col-12 ">
                                    <p>Website</p>
                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Website Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col ">
                                    <p>Leading Paralegal Name Or Initials</p>

                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Leading Paralegal Name Or Initials">
                                    </div>
                                </div>
                                <div class=" col ">
                                    <p>Leading Paralegal Phones</p>

                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Leading Paralegal Phones">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col ">
                                    <p>Leading Paralegal Extension</p>
                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Leading Paralegal Extension">
                                    </div>
                                </div>

                                <div class=" col ">
                                    <p>Leading Paralegal Email</p>
                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Leading Paralegal Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-md-6 col-xs-6 col-xl-6 col-12">
                                    <p>Leading Paralegal Fax</p>

                                    <div class="input-field">
                                        <input type="text" class="text-input" placeholder="Enter Leading Paralegal Fax">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class=" col-md-10 col-xs-10 col-xl-10  col-10">
                                            <p>Legal status</p>
                                            <div class="input-field">
                                                <input type="text" class="text-input" placeholder="Enter Legal status">
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-2 col-xs-2 col-xl-2">
                                            <a class="btn form-add-btn sideout" href="javascript:void(0);" onclick="ToggleSideBar('slide-out-rightPI')"><i class="ti ti-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2 mb-2">
                                <div class="col s12">
                                    <div class="center">
                                        <a href="javascript:void(0);" class="waves-effect waves-light btn add-btn">Save</a>
                                        <a href="javascript:void(0);" class="waves-effect waves-light Recreate btn">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>
@*<div class="right-sidebar slide-out-rightPI">
    <div class="slimscrollright">
        <div class="row">
            <div class="col"> <span><i class="ti-close left right-side-close right-side-toggle color_Close"></i></span> </div>
        </div>
        <div class="r-panel-body">
            <div class="row">
                <div class="col-12">
                    <h5>Add  Legal Status</h5>
                    <input class="form-control text-input" type="text" placeholder="Add Legal Status" />
                    <a href="#!" class="modal-action btn add-btn right mb-2">Save</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right-sidebar slide-out-rightPI2">
    <div class="slimscrollright">
        <div class="row">
            <div class="col"> <span><i class="ti-close left right-side-close right-side-toggle color_Close"></i></span> </div>
        </div>
        <div class="r-panel-body">
            <div class="row">
                <div class="col-12">
                    <h5>Add  Legal Status</h5>
                    <input class="form-control text-input" type="text" placeholder="Add Legal Status" />
                    <a href="#!" class="modal-action btn add-btn right mb-2">Save</a>
                </div>
            </div>
        </div>
    </div>
</div>*@

