@model MediClinic.Models.DMEGroupItemViewModel
@{
    ViewData["Title"] = "AddItemGroup";
    Layout = "~/Views/Shared/_LayoutElite.cshtml";
}

@section styles{
    <link href='https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/17.0.2/autocomplete-lhc.min.css' rel="stylesheet">
    <style>
        .cptAutoComplete {
            background-color: none !important;
            font-style: normal !important;
        }
    </style>


}
<div class="page-wrapper">
    <div class="container">
        <div id="breadcrumbs-wrapper">
            <div class="row">
                <div class=" col">
                    <h5 class="breadcrumbs-title color-blue">Create New Group</h5>
                </div>
                <div class="col">
                    <a href="@Url.Action("DMESetting","SettingsElite")" class="waves-effect waves-light float-right" style="margin-top:-4%">
                        <i class="mdi mdi-arrow-left right arrow-icon"></i>

                    </a>
                </div>

            </div>
        </div>
        <div class="row">
            <form class="col-sm-12  " asp-action="AdditemGroup" asp-controller="DMEitemgroup" method="post" id="itemgroup">
                <div id="GroupName">
                    <section class="tr">
                        <div class="row">

                            <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                                <p>
                                    Group Name <span class="required">*</span>
                                </p>
                                <div class="input-field">
                                    <input type="text" id="GroupNameFied" class="text-input td" name="GroupName" placeholder="Enter Group Name">
                                    <span class="required" id="groupName_Err"></span>
                                </div>
                            </div>
                            <div class=" col-sm-6 col-md-6 col-xl-6 col-12 ">
                                <p>Description</p>

                                <div class="input-field">
                                    <input type="text" class="text-input td" name="GroupDescription" placeholder="Enter Description">
                                </div>
                            </div>

                        </div>
                    </section>
                </div>

                <div class="row">
                    <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                        <p>Add Items In Group</p>
                        <div class="input-field">
                            <button id="addItem" class="waves-effect waves-light btn add-btn"><i class="ti-plus"></i></button>
                        </div>
                    </div>
                    <div class=" col-sm-6 col-md-6 col-xl-6 col-12 ">

                    </div>

                </div>

                <div id="newRows">
                    <div class="newRow-item">
                        <div class="tr">
                            <div class="row">
                                <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                                    <p>
                                        CPT Code
                                    </p>
                                    <div class="input-field">

                                        <input type="text" id="CPTCode" class="text-input cptAutoComplete td" name="CPTCode" placeholder="Enter CPT Code">
                                        <span class="required" id="CPTCode_Err"></span>

                                    </div>
                                </div>
                                <div class=" col-sm-6 col-md-6 col-xl-6 col-12 ">
                                    <p>Fee Schedule</p>

                                    <div class="input-field">
                                        <input type="text" id="scheduleFee" class="text-input td" name="Fee" placeholder="Enter Fee Schedule">
                                        <span class="required" id="Schedule_Err"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                                    <p>
                                        Descriptioon
                                    </p>
                                    <div class="input-field">

                                        <input type="text" class="text-input td" name="Description" placeholder="Enter Description">
                                    </div>
                                </div>
                                <div class=" col-sm-6 col-md-6 col-xl-6 col-12 ">
                                    <p>Remove Item</p>

                                    <div class="input-field">
                                        <a class="waves-effect waves-light Recreate btn remove-tiem"><i class="ti-close"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="row mt-2 mb-2">
                    <div class="col s12">
                        <div class="center">
                            <button type="submit" class="waves-effect waves-light btn add-btn">Save</button>
                            <a href="@Url.Action("DMESetting","SettingsElite")" class="waves-effect waves-light Recreate btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/app-assets/base/jquery-ui.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/app-assets/js/jquery.form.js"></script>
    <script src='https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/17.0.2/autocomplete-lhc.min.js'></script>
    <script>
        var meanscount = 0;

        $("#addItem").on("click", function () {
            meanscount++;
            var meanscontent = '<div class="newRow-item">' +
                '<div class="tr">' +
                '<div class="row">' +
                '<div class=" col-sm-6 col-md-6 col-xl-6 col-12">' +
                '<p>CPT Code</p>' +
                '<div class="input-field">' +
                '<input type="text" class="text-input cptAutoComplete td" name="CPTCode" placeholder="Enter CPT Code">' +
                '</div>' +
                '</div>' +
                '<div class=" col-sm-6 col-md-6 col-xl-6 col-12 ">' +
                '<p>Fee Schedule</p>' +
                ' <div class="input-field">' +
                '<input type="text" class="text-input td" name="Fee" placeholder="Enter Fee Schedule">' +
                '</div>' +
                '</div>' +
                '</div>' +
                '<div class="row">' +
                '<div class=" col-sm-6 col-md-6 col-xl-6 col-12">' +
                '<p>Description</p>' +
                '<div class="input-field">' +
                '<input type="text" class="text-input td" name="Description" placeholder="Enter Description">' +
                '</div>' +
                '</div>' +
                '<div class=" col-sm-6 col-md-6 col-xl-6 col-12 ">' +
                '<p>Remove Item</p>' +
                ' <div class="input-field">' +
                '<a href="javascript:void(0);" class="waves-effect waves-light Recreate btn remove-tiem">' + '<i class="ti-close"></i></a>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>';


            $("#newRows").append(meanscontent);
            return false;
        });

        $(document).on('click', '.remove-tiem', function (e) {
            debugger
            console.log("run");
            $(this).closest('.newRow-item').remove();
            return false;
        });



        $(document).on('keyup', '.cptAutoComplete', function (e) {
            new Def.Autocompleter.Search(e.currentTarget, 'https://clinicaltables.nlm.nih.gov/api/hcpcs/v3/search',
                { tableFormat: true, valueCols: [0], colHeaders: ['Code', 'Description'] });
        })
        $(document).on('submit', '#itemgroup', function (e) {
            var GroupNameField = $("#GroupNameFied").val();
            var CPT = $("#CPTCode").val();
            var Sche = $("#scheduleFee").val();

            if (GroupNameField == "") {
                $("#groupName_Err").text("Group Name is required");
            }
            else {
                $("#groupName_Err").text("");
            }
            if (CPT == "") {
                $("#CPTCode_Err").text("Enter Code");
            }
            else {
                $("#CPTCode_Err").text("");
            }
            if (Sche == "") {
                $("#Schedule_Err").text("Enter Fee");
            }
            else {
                $("#Schedule_Err").text("");
            }

            var item = [];
            var group = {};

            $("#GroupName .tr").each(function (index, value) {
                $(this).find('.td').each(function (i, v) {
                    debugger;
                    if (v.value != "") {
                        group[$(this).attr('name')] = v.value;

                    }
                    else {
                        group[$(this).attr('name')] = null;

                    }
                });
            })
            $(".newRow-item .tr").each(function (index, value) {
                var obj = {}
                $(this).find('.td').each(function (i, v) {
                    debugger;
                    if (v.value != "") {
                        obj[$(this).attr('name')] = v.value;

                    }
                    else {
                        obj[$(this).attr('name')] = null;
                    }
                });
                item.push(obj);
            })
            var formData = ({ dMEGroupDto: group, groupItemList: item });
            debugger;
            e.preventDefault();
            if ($(this).valid()) {

                if (!(GroupNameField == "" || CPT == "" || Sche == "")) {
                    $(this).ajaxSubmit({
                        data: { dMEGroupItemViewModel: formData },
                        success: function (response) {
                            debugger;
                            if (response.success) {
                                $(".checkmark").show().fadeOut(6000);
                                $("input").val('');
                            }
                            else {
                                new PNotify({
                                    title: 'Error!',
                                    text: 'Email is already exist',
                                    delay: 5000,
                                    type: 'error',
                                    addclass: 'pnotify-center'
                                });
                            }
                        },
                        error: function (response) {
                            //$('#upload').attr('disabled', false);
                        },

                        
                    });

                }
            }
        })


    </script>

}
