<footer class="page-footer footer footer-static footer-light navbar-border navbar-shadow">
    <div class="footer-copyright">
        <div class="container"><span>&copy; @DateTime.UtcNow.Year          <a href="javascript:void(0);" class="color-blue" target="_blank">Medi Clinic</a> All rights reserved.</span><span class="right hide-on-small-only">Design and Developed by <a href="http://imedhealth.us/" class="color-blue">iMedHealth</a></span></div>
    </div>
</footer>