<footer class="footer">
    <div class="footer-copyright">
        <div ><span>© 2020          <a href="javascript:void(0);" class="color-blue" target="_blank">Medi Clinic</a> All rights reserved.</span><span class="right hide-on-small-only">Design and Developed by <a href="http://imedhealth.us/" class="color-blue">iMedHealth</a></span></div>
    </div>
</footer>