@model CptHspcCodesViewModel
@{
    ViewData["Title"] = "AddCptCodeGroup";
    Layout = "~/Views/Shared/_LayoutElite.cshtml";
}
@section styles{

}
@section scripts{
    <script>
        $(".select2").select2();
    </script>
}
<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>

<div class="page-wrapper">
    <div class="container">
        <div id="breadcrumbs-wrapper">
            <div class="row">
                <div class=" col" margin-top-8">
                    <h5 class="breadcrumbs-title color-blue"> Add New CPT Code Group</h5>
                </div>
                <div class="col">
                    <a href="/CptHspcCodes/Index" class="waves-effect waves-light float-right" style="margin-top: -11px">
                        <i class="mdi mdi-arrow-left right arrow-icon"></i>

                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <form class="col-sm-12" method="post" data-ajax="true" data-ajax-success="onInventoryCreate(data)">
                <input type="hidden" asp-for="CptCodeGroupListDto.CptCodeGroupId" />
                <div class="row">
                    <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                        <p>
                            CPT/HSPC Code Group Name
                        </p>
                        <div class="input-field">
                            <input asp-for="CptCodeGroupListDto.CptCodeGroupName" type="text" class="text-input" placeholder="Enter CPT/HSPC Code Group Name">
                        </div>
                    </div>
                    
                    <div class=" col-sm-6 col-md-6 col-xl-6 col-12 ">
                        <p>CPT/HSPC Code</p>
                        <div class="input-field">
                            <div class="input-field">
                                <select data-placeholder="Select CPT/HSPC Code" multiple="multiple" asp-for="CptCodeGroupListDto.CptCodesLArray" asp-items="@(new SelectList(Model.CptHspcCodesList,"CptCodeId","CptHspcCode"))" class="select2">
                                  
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col s12">
                        <div class="center">
                            <button type="submit" class="waves-effect waves-light btn add-btn">Save</button>
                            <a href="javascript:void(0);" class="waves-effect waves-light Recreate btn">Edit</a>
                            <a href="javascript:void(0);" class="waves-effect waves-light Recreate btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
