
        <div class="row">
            <form class="col-sm-12  ">
                <div class="row">
                    <div class="col-md-6 ">
                        <p>
                            Medical History Template


                        </p>

                        <div class="input-field">
                            <select class="select2 form-control  text-input" style="width: 100%;">
                                <option>Select</option>

                                <option value="AK">Dr Twister Template</option>
                                <option value="AK">Dr Ruby Template</option>
                                <option value="AK">Dr Right Template</option>



                            </select>
                        </div>

                    </div>
                    <div class="col-md-6 ">
                        <p>
                            Date

                        </p>

                        <div class="input-field">
                            <input type="date" class="text-input" placeholder="select date">
                        </div>

                    </div>


                </div>
                <div class="row">

                    <div class="col-md-6 ">
                        <p>
                            Date ofIncident

                        </p>

                        <div class="input-field">
                            <input type="date" class="text-input" placeholder="select date">
                        </div>

                    </div>

                    <div class="col-md-6 ">
                        <p>
                            Date Of 1st Simptoms

                        </p>

                        <div class="input-field">
                            <input type="date" class="text-input" placeholder="select date">
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class=" col-md-6 ">
                        <p>Prescriber</p>

                        <div class="input-field">
                            <select class="select2 form-control  text-input" style="width: 100%;">
                                <option>Select</option>

                                <option value="AK">Dr Asad</option>



                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <p>
                            Time

                        </p>


                        <div class="input-field">
                            <input type="time" class="text-input">
                        </div>


                    </div>


                </div>


            </form>
        </div>
    <div id="breadcrumbs-wrapper">
        <!-- Search for small screen-->
    
            <div class="row">
                <div class=" col">
                    <h5 class="breadcrumbs-title color-blue">Examiner</h5>

                </div>



            </div>
    </div>
  
        <div class="row">
            <form class="col-sm-12  ">
                <div class="row">
                    <div class="col-md-6 ">
                        <p>
                            Type Of Exam


                        </p>

                        <div class="input-field">
                            <select class="select2 form-control  text-input" style="width: 100%;">
                                <option>Select</option>

                                <option value="AK">Initial</option>
                                <option value="AK">Follow Up</option>
                                <option value="AK">Consultation</option>



                            </select>
                        </div>

                    </div>
                    <div class="col-md-6 ">
                        <p>
                            Open Exam Template


                        </p>

                        <div class="input-field">
                            <select class="select2 form-control  text-input" style="width: 100%;">
                                <option>Select</option>

                                <option value="AK">Dr Twister Template</option>
                                <option value="AK">Dr Ruby Template</option>
                                <option value="AK">Dr Right Template</option>



                            </select>
                        </div>

                    </div>


                </div>
                <div class="row">

                    <div class="col-sm-12 col-md-6 col ">
                        <p>
                            Open Prescription Templates


                        </p>

                        <div class="input-field">
                            <select class="select2 form-control  text-input" style="width: 100%;">
                                <option>Select</option>

                                <option value="AK">DME</option>
                                <option value="AK">Imaging</option>




                            </select>
                        </div>

                    </div>

                </div>



            </form>
            <div class="row" style="margin:0px auto;">
                <div class="col s12 m12">
                    <div class="center">
                        <a href="javascript:void(0);" class="waves-effect waves-light btn add-btn" style="margin-top:10px;">Save</a>

                    </div>
                </div>
            </div>
        </div>
