
<div class="row tablee ">
    <h6 class="color-blue" style="padding-left:23px">Past Prescription</h6>
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="PastPrescription" class="table dataTables_wrapper ">
                <thead>
                    <tr class="uppercase">
                        <th>
                            <input type="checkbox" class="select-all">



                        </th>
                        <th>Medication Name</th>
                        <th>Frequency</th>
                        <th>Dose</th>
                        <th>Doctor Name</th>
                        <th>Start Date</th>
                        <th>Stop Date</th>
                        <th>Medication Comments</th>
                        <th class="all">Action  </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="card" style="cursor: pointer">
                        <th>
                            <label>
                                <input type="checkbox" class="select-all">
                                <span></span>
                            </label>

                        </th>


                        <td>Panadol</td>

                        <td>Every 3 hours</td>
                        <td>2</td>
                        <td>Umer Khan</td>
                        <td>02/02/2020</td>
                        <td> 02/02/2020</td>
                        <td>NO</td>

                        <td class="action">
                            <button class="btn btn-primary dropdown-toggle table_btn" type="button" data-toggle="dropdown">
                                Options
                                @*<span class="caret"></span>*@
                            </button>
                            <ul class="dropdown-menu Table_Drop ul_Caim">
                                <li><a href="javascript:void(0);"><i class="mdi mdi-eye"></i>View</a></li>
                                <li><a href="javascript:void(0);"><i class="mdi mdi-printer"></i>Print</a></li>
                                <li><a href="javascript:void(0);"><i class="mdi mdi-share-variant"></i>Share</a></li>

                            </ul>

                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="row tablee">
    <h6 class="color-blue" style="padding-left:23px">Current Prescription</h6>
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="CurrentPrescription" class="table dataTables_wrapper ">
                <thead>
                    <tr class="uppercase">
                        <th>
                            <input type="checkbox" class="select-all">



                        </th>
                        <th>Medication Name</th>
                        <th>Frequency</th>
                        <th>Dose</th>
                        <th>Doctor Name</th>
                        <th>Start Date</th>
                        <th>Stop Date</th>
                        <th>Medication Comments</th>
                        <th class="all">Action  </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="card" style="cursor: pointer">
                        <th>
                            <label>
                                <input type="checkbox" class="select-all">
                                <span></span>
                            </label>

                        </th>


                        <td>Panadol</td>

                        <td>Every 3 hours</td>
                        <td>2</td>
                        <td>Umer Khan</td>
                        <td>02/02/2020</td>
                        <td> 02/02/2020</td>
                        <td>NO</td>

                        <td class="action">
                            <button class="btn btn-primary dropdown-toggle table_btn" type="button" data-toggle="dropdown">
                                Options
                                @*<span class="caret"></span>*@
                            </button>
                            <ul class="dropdown-menu Table_Drop ul_Caim">
                                <li><a href="javascript:void(0);"><i class="mdi mdi-eye"></i>View</a></li>
                                <li><a href="javascript:void(0);"><i class="mdi mdi-printer"></i>Print</a></li>
                                <li><a href="javascript:void(0);"><i class="mdi mdi-share-variant"></i>Share</a></li>

                            </ul>

                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>

    <div class="row">
        <div class="col s12">
            <button class="add-btn btn right mt-1" id="prescription_btn">Add New Prescription</button>
        </div>
    </div>

<section class="prescription">
   
        <div class="row">
            <form class="col-sm-12  ">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            Medication Name
                        </p>

                        <div class="input-field">
                            <select class="select2 form-control  text-input" style="width: 100%;">
                                <option>Select Medication</option>
                                <option value="AK">Bronx NY</option>
                                <option value="HI">New Jersy</option>
                            </select>
                        </div>
                    </div>
                    <div class=" col-md-6 ">
                        <p>Quantity</p>

                        <div class="input-field">
                            <input type="text" class="text-input" placeholder="Enter Quantity">
                        </div>
                    </div>


                </div>
                <div class="row">

                    <div class="col-md-6 ">
                        <p>
                            Frequency
                        </p>

                        <div class="input-field">
                            <select class="select2 form-control  text-input" style="width: 100%;">
                                <option>Select Frequency</option>
                                <option value="AK">Bronx NY</option>
                                <option value="HI">New Jersy</option>
                            </select>
                        </div>
                    </div>
                    <div class=" col-md-6 ">
                        <p>Dose</p>

                        <div class="input-field">
                            <input type="text" class="text-input" placeholder="Enter Dose">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <p>
                            Unit
                        </p>

                        <div class="input-field">
                            <select class="select2 form-control  text-input" style="width: 100%;">
                                <option>Select Unit</option>
                                <option value="AK">ml</option>
                                <option value="AK">mg</option>
                            </select>
                        </div>

                    </div>
                    <div class=" col-md-6 ">
                        <p>Start Date</p>

                        <div class="input-field">
                            <input type="date" class="text-input" placeholder="select date">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class=" col-md-6 ">
                        <p>Medication Comment</p>

                        <div class="input-field">
                            <input type="text" class="text-input" placeholder="Enter Dose">
                        </div>
                    </div>

                </div>

                <div class="row mt-2 mb-2">
                    <div class="col s12">
                        <div class="text-right">
                            <a href="javascript:void(0);" class="waves-effect waves-light btn add-btn">Save</a>

                        </div>
                    </div>
                </div>
            </form>
        </div>

   
</section>