
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div class="container">


        <!-- Search for small screen-->



        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field  col s12 m4">
                        <p class="mt-0">
                            Choose Hipaa State
                        </p>
                        <div class="dropdownauto"><input class="text-input input-styling HippaState" type="text" placeholder="Select Hipaa State"></div>

                    </div>
                    <div class="input-field  col s12 m4">
                        <p class="mt-0">
                            Open Prefilled Form
                        </p>
                        <div class="dropdownauto"><input class="text-input input-styling PrefilledForm" type="text" placeholder="Select Prefilled Form"></div>





                    </div>
                    <div class="input-field  col s12 m4">
                        <p class="mt-0">
                            Open Blank Form
                        </p>
                        <div class="dropdownauto"><input class="text-input input-styling BlankForm" type="text" placeholder="Select Blank Form"></div>


                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col s12 m12" style="text-align:center">
                        <a href="javascript:void(0);" class="waves-effect waves-light btn  add-btn">Save</a>
                       
                    </div>

                </div>
            </form>
        </div>
    </div>