@model MediClinic.Models.PatientViewModel

<div class="content-area content-right">
    <div class="app-wrapper">

        <div class="card card card-default scrollspy border-radius-6 fixed-width">
            <div class="card-content padding-3">
                <div class="row mb-1">


                    <div class="col s12">
                        <div class="container">
                            <div class="row">
                                <div class="col s12">
                                    <h5 class="breadcrumbs-title color-blue">Tertiary Insurance Provider</h5>
                                </div>



                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <form asp-action="PatientTeritaryInsurance" asp-controller="PatientSide" id="patientTeritaryInsurance" method="post">
                                        <input class="text-input input-styling" asp-for="PatientTertiaryInsuranceBasicDto.UserId" id="PatientTertiary_UserId" type="text" hidden="hidden">
                                        <input hidden="hidden" asp-for="PatientTertiaryInsuranceBasicDto.TertiaryInsurenceProviderID" />
                                        <input hidden="hidden" asp-for="patientInfoBasicDto.UserId" />
                                        <div class="row">
                                            <div class="col s12 m6 ">
                                                <p>Provider Name<span class="required"> * </span></p>

                                                <div class="ui-widget tertierySelect_tab col s9 m10 pl-0">
                                                    <select id="T_ProviderName" class=" TProviderNameCombo genericClassForDD TertiaryDropDListBeforeEditDisabled" asp-for="PatientTertiaryInsuranceBasicDto.ProviderId"
                                                            asp-items="@(new SelectList(Model.InsuranceProviderNamesList,"ProviderId","ProviderName"))">
                                                        <option></option>
                                                    </select>
                                                    <p class="required" id="teriteryInsuranceProvider_err"></p>
                                                </div>

                                                <div class="input-field col s3 m2 pr-0">
                                                    <a class="btn form-add-btn sidenav-trigger sideout" href="javascript:void(0);" data-target="slide-out-right17"><i class="material-icons">add</i></a>
                                                </div>
                                            </div>
                                            <div class="col s12 m6">
                                                <p>Plan Name</p>

                                                <div class="input-field pl-0">
                                                    <input class="text-input input-styling tertiary_tab patientTertiaryTxtField"  asp-for="PatientTertiaryInsuranceBasicDto.PlanName" type="text" placeholder="Enter Plan Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12 m6 ">
                                                <p>Effective Date</p>
                                                <div class="input-field  pl-0">
                                                    <input type="text" class="datepicker text-input tertiary_tab patientTertiaryTxtField" asp-for="PatientTertiaryInsuranceBasicDto.EffectiveDate" placeholder="MM/DD/YYYY">
                                                </div>
                                            </div>
                                            <div class="col s12 m6">
                                                <p>Policy Number</p>

                                                <div class="input-field  pl-0">
                                                    <input class="text-input input-styling tertiary_tab patientTertiaryTxtField"  type="text" asp-for="PatientTertiaryInsuranceBasicDto.PolicyNumber" placeholder="Enter Policy Number">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12 m6">
                                                <p>Group Number</p>

                                                <div class="ui-widget tertierySelect_tab col s9 m10 pl-0">
                                                    <select id="T_GroupName" class="TGroupNumberCombo genericClassForDD TertiaryDropDListBeforeEditDisabled" asp-for="PatientTertiaryInsuranceBasicDto.GroupId"
                                                            asp-items="@(new SelectList(Model.InsuranceGroupNumbersList,"GroupId","GroupName"))">
                                                        <option></option>
                                                    </select>
                                                </div>

                                                <div class="input-field col s3 m2 pr-0">
                                                    <a class="btn form-add-btn sidenav-trigger sideout" href="javascript:void(0);" data-target="slide-out-right18"><i class="material-icons">add</i></a>
                                                </div>
                                            </div>
                                            <div class="col s12 m6">
                                                <p>Subscriber Employer</p>

                                                <div class="input-field  pl-0">

                                                    <input class="text-input input-styling tertiary_tab patientTertiaryTxtField"  type="text" asp-for="PatientTertiaryInsuranceBasicDto.SubscriberEmployer" placeholder="Enter Subscriber Employer">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12 m6">
                                                <p> Address Line 1<span class="required"> * </span></p>

                                                <div class="input-field  pl-0">

                                                    <input class="text-input input-styling TertiaryAddressLine1 tertiary_tab patientTertiaryTxtField"  type="text" asp-for="PatientTertiaryInsuranceBasicDto.AddressLine1" placeholder="Enter Address Line 1">
                                                    <span class="required" asp-validation-for="PatientTertiaryInsuranceBasicDto.AddressLine1"></span>
                                                </div>
                                            </div>
                                            <div class="col s12 m6">
                                                <p> Address Line 2</p>

                                                <div class="input-field  pl-0">

                                                    <input class="text-input input-styling tertiary_tab patientTertiaryTxtField"  type="text" asp-for="PatientTertiaryInsuranceBasicDto.AddressLine2" placeholder="Enter Address Line 2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12 m6">
                                                <p> Address Line 3</p>

                                                <div class="input-field  pl-0">
                                                    <input class="text-input input-styling tertiary_tab patientTertiaryTxtField"  type="text" asp-for="PatientTertiaryInsuranceBasicDto.AddressLine3" placeholder="Enter Address Line 3">
                                                </div>
                                            </div>
                                            <div class="col s12 m3">
                                                <p>ZIP Code <span class="required"> * </span></p>
                                                <div class="input-field  pl-0">
                                                    <input class="text-input input-styling TertiaryZipCode tertiary_tab patientTertiaryTxtField" maxlength="5" id="tertiary_Zip" onkeypress="return AvoidSpace(event)" type="text" asp-for="PatientTertiaryInsuranceBasicDto.Zip" placeholder="Enter ZIP Code">
                                                    <span class="required" asp-validation-for="PatientTertiaryInsuranceBasicDto.Zip"></span>
                                                    <span class="required" id="err_tertiaryZip"></span>
                                                </div>
                                            </div>
                                            <div class="col s12 m3 pl-0">
                                                <p>City</p>
                                                <div class="input-field">
                                                    <input class="text-input input-styling TertiaryCity city patientTertiaryTxtField" id="tertiary_city"  type="text" asp-for="PatientTertiaryInsuranceBasicDto.City" readonly>
                                                    @*<span class="required" asp-validation-for="PatientTertiaryInsuranceBasicDto.City"></span>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12 m6 ">

                                                <div class=" col s6 m6 pl-0">
                                                    <p>State</p>
                                                    <div class="input-field">

                                                        <input class="text-input input-styling state TertiaryState patientTertiaryTxtField" id="tertiary_state"  asp-for="PatientTertiaryInsuranceBasicDto.State" type="text" readonly>
                                                        @*<span class="required" asp-validation-for="PatientTertiaryInsuranceBasicDto.State"></span>*@

                                                    </div>
                                                </div>
                                                <div class=" col s6 m6 pl-0">
                                                    <p>Country</p>
                                                    <div class="input-field pr-0">
                                                        <input class="text-input input-styling TertiaryCountry country patientTertiaryTxtField" id="tertiary_country"  type="text" asp-for="PatientTertiaryInsuranceBasicDto.Country" readonly>
                                                        @*<span class="required" asp-validation-for="PatientTertiaryInsuranceBasicDto.Country"></span>*@

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col s12 m6">
                                                <p>Phone Number<span class="required"> * </span></p>

                                                <div class="input-field pl-0 numberModalDiv phoneDiv">
                                                    <input class="text-input input-styling phoneno TertiaryPhone tertiary_tab patientTertiaryTxtField" id="tertiary_num" type="text" asp-for="PatientTertiaryInsuranceBasicDto.PhoneNumber" placeholder="Enter Phone Number">
                                                    <span class="required" asp-validation-for="PatientTertiaryInsuranceBasicDto.PhoneNumber"></span>
                                                    <span class="required" id="tertiary_errmsg_phone"></span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12 m6">
                                                <p>Fax</p>

                                                <div class="input-field pl-0">
                                                    <input class="text-input input-styling fax tertiary_tab patientTertiaryTxtField" id="tertiery_fax" type="text" asp-for="PatientTertiaryInsuranceBasicDto.Fax" placeholder="Enter Fax Number">
                                                    <span class="required" id="tertiery_errmsg_fax"></span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="row set_rowbtn">
                                            <div class="col s12 m12" style="text-align:center">
                                                <button type="submit" id="btnPatientTerit" class="btn add-btn">Save</button>

                                                @if (ViewBag.Action == "Update")
                                                {
                                                    <button type="button" data-val="tertiaryForm" id="teriteryEdit_Btn" class="btn Recreate patientEditBtn">Edit</button>
                                                    <button type="button" data-val="tertiaryForm" id="teriteryCancel_btn" class="Recreate btn patientCancelBtn">Cancel</button>
                                                }
                                                else
                                                {
                                                    @*<a href="javascript:void(0);" data-val="NewForm" id="emergenyEdit_btn"  class="btn Recreate">Edit</a>*@
                                                    <a href="javascript:void(0);" data-val="NewForm" id="teriteryCancel_btn" onclick="emptyPatientTertiaryFields();" class="Recreate btn">Cancel</a>
                                                }
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<aside id="right-sidebar-nav">
    <div id="slide-out-right17" class="slide-out-right-sidenav sidenav rightside-navigation">
        <div class="row">
            <div class="slide-out-right-title">
                <div class="col s12 border-bottom-1 pb-0 pt-1">
                    <div class="row">
                        <div class="col s2 pl-0 center">
                            <i class="material-icons vertical-text-middle"><a href="#" class="sidenav-close">clear</a></i>
                        </div>
                        <div class="col s10 pl-0 mt-2">

                        </div>
                    </div>
                    <div class="row">


                        <form asp-action="InsuranceProviderName" asp-controller="PatientSide" method="post" data-ajax="true" data-ajax-success="onCreateTProviderName(data)" class="col s12">
                            <h5 class="mb-10 blue-text">
                                Add Provider Name
                                <span class="required"> * </span>
                            </h5>
                            <div class="input-field col s12 mb-10">

                                <input class="text-input TproviderName SignIdType " type="text" asp-for="InsuranceProviderNameBasicDto.ProviderName" placeholder="Enter Provider Name" />
                                <span class="required" asp-validation-for="InsuranceProviderNameBasicDto.ProviderName"></span>
                            </div>
                            <button type="submit" class="modal-action btn add-btn right">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</aside>
<aside id="right-sidebar-nav">
    <div id="slide-out-right18" class="slide-out-right-sidenav sidenav rightside-navigation">
        <div class="row">
            <div class="slide-out-right-title">
                <div class="col s12 border-bottom-1 pb-0 pt-1">
                    <div class="row">
                        <div class="col s2 pl-0 center">
                            <i class="material-icons vertical-text-middle"><a href="#" class="sidenav-close">clear</a></i>
                        </div>
                        <div class="col s10 pl-0 mt-2">

                        </div>
                    </div>
                    <div class="row">


                        <form asp-action="InsuranceGroupNumber" asp-controller="PatientSide" method="post" data-ajax="true" data-ajax-success="onCreateTGroupNumber(data)" class="col s12">
                            <h5 class="mb-10 blue-text">
                                Add Group Number
                                <span class="required"> * </span>
                            </h5>
                            <div class="input-field col s12 mb-10">

                                <input class="text-input Teritary_groupNumber SignIdType " type="text" asp-for="InsuranceGroupNumberBasicDto.GroupName" placeholder="Enter Group Number Status " />
                                <span class="required" asp-validation-for="InsuranceGroupNumberBasicDto.GroupName"></span>
                            </div>
                            <button type="submit" class="modal-action btn add-btn right">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</aside>