@model MediClinic.Models.TemplateViewModal
@{
    ViewData["Title"] = "Add Doctor";
    Layout = "~/Views/Shared/_LayoutElite.cshtml";
}
@section styles{


}
@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/app-assets/js/jquery.form.js"></script>
    <script src="~/app-assets/base/jquery-ui.js"></script>
    <script src="~/HunterTimePicker/js/jquery-timepicker.js"></script>
    <script>
        function onSuccessTemplate(data) {
            $("#TemplateDTO_Id").val("");
            $("#TemplateDTO_Name").val("");
            $("#TemplateGrid").empty();
            $("#TemplateGrid").html(data);
            new PNotify({
                title: 'Success!',
                text: 'Record Saved Successfully',
                delay: 2500,
                type: 'success',
                addclass: 'pnotify-center'
            });
            $("#Template").DataTable({
                "info": false,
                responsive: true,
                lengthMenu: [[7, 25, 50, -1], [7, 25, 50, "All"]],

                'columnDefs': [{
                    "targets": [0, 2],
                    "orderable": false,
                }]
            });
        }
        function EditTemplate(Id) {
            $.ajax({
                type: "GET",
                url: '/Template/EditTemplate',
                data: { Id: Id },
                success: function (data) {
                    $("#TemplateDTO_Id").val(data.id);
                    $("#TemplateDTO_Name").val(data.name);
                }
            });
        }
        $(document).ready(function () {

            $("#Template").DataTable({
                "info": false,
                responsive: true,
                lengthMenu: [[7, 25, 50, -1], [7, 25, 50, "All"]],

                'columnDefs': [{
                    "targets": [0, 2],
                    "orderable": false,
                }]
            });
        });
        function DeleteTemplate(Id) {
            $.ajax({
                type: "GET",
                url: '/Template/DeleteTemplate',
                data: { Id: Id },
                success: function (data) {
                    if (data.status == true) {
                        new PNotify({
                            title: 'Alert!',
                            text: data.msg,
                            delay: 2500,
                            type: 'alert',
                            addclass: 'pnotify-center'
                        });
                    }
                    else {
                        $("#TemplateGrid").empty();
                        $("#TemplateGrid").html(data);
                        new PNotify({
                            title: 'Success!',
                            text: 'Record Deleted Successfully',
                            delay: 2500,
                            type: 'success',
                            addclass: 'pnotify-center'
                        });
                    }
                }
            });
        }
    </script>
}
<div class="page-wrapper">
    <div class="container">
        <div id="breadcrumbs-wrapper">
            <div class="row">
                <div class=" col" margin-top-8">
                    <h5 class="breadcrumbs-title color-blue">Create Template</h5>
                </div>
                <div class="col">
                    <a class="waves-effect waves-light float-right" style="margin-top:-11px" href="/Template/DoctorTemplate">
                        <i class="mdi mdi-arrow-left right arrow-icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <form asp-controller="Template" asp-action="Template" method="POST" data-ajax="true" data-ajax-success="onSuccessTemplate(data)" class="col-sm-12">
                <input asp-for="TemplateDTO.Id" type="hidden" />
                <div class="row">
                    <div class="col-md-12">
                        <p>Template</p>
                        <div class="input-field">
                            <input asp-for="TemplateDTO.Name" class="text-input" placeholder="Enter Template" />
                            <span asp-validation-for="TemplateDTO.Name"></span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col s12">
                        <div class="right">
                            <button type="submit" class="waves-effect waves-light btn add-btn">Save</button>
                            @*<a href="javascript:void(0);" class="Recreate btn">Edit</a>
                            <a href="javascript:void(0);" class="Recreate btn">Cancel</a>*@
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="TemplateGrid">
            @Html.Partial("_Template", Model)
        </div>
    </div>
</div>
