@model MediClinic.Models.SettingViewModel

@foreach (var item in Model.PatientLegalStatusList)
{
    <tr class="card">
        <th>
            <label>
                <input type="checkbox" />
                <span></span>
            </label>
        </th>
        <td>@item.PatientLegalStatus1</td>

        <td>
            <a class='dropdown-trigger btn action-btn option-dropdown-btn' href='javascript:void(0);' data-target='dropdown1_@item.PatientLegalId'>Options <i class="material-icons right arrow-set">keyboard_arrow_down</i></a>
            <!-- Dropdown Structure -->
            <ul id='dropdown1_@item.PatientLegalId' class='dropdown-content'>
                <li><a href="#!" onclick="deletePatientLegalStatus(@item.PatientLegalId)" class="option-a"><i class="material-icons">delete</i>Delete</a></li>
                <li><a href="#!" onclick="editPatientLegalStatus(@item.PatientLegalId)" class="option-a"><i class="material-icons">edit</i>Edit</a></li>
            </ul>

        </td>
    </tr>
}