<div class="card">
    <div class="card-content">

      

        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-6 ">
                <p>First Name</p>
                <div class="switch">
                    <input type="checkbox" id="FirstVisitPrintCheckBox" data-toggle="toggle" />
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-6 ">
                <p>
                    Last Name
                </p>
                <div class="switch">
                    <input type="checkbox" id="FirstVisitPrintCheckBox" data-toggle="toggle" />
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-6 ">
                <p>Relationship</p>
                <div class="switch">
                    <input type="checkbox" id="FirstVisitPrintCheckBox" data-toggle="toggle" />
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-6 ">
                <p>Address</p>
                <div class="switch">
                    <input type="checkbox" id="FirstVisitPrintCheckBox" data-toggle="toggle" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-6 ">
                <p>Home Phone</p>
                <div class="switch">
                    <input type="checkbox" id="FirstVisitPrintCheckBox" data-toggle="toggle" />
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-6 ">
                <p>

                    Mobile Phone

                </p>
                <div class="switch">
                    <input type="checkbox" id="FirstVisitPrintCheckBox" data-toggle="toggle" />
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-6 ">
                <p>Fax</p>
                <div class="switch">
                    <input type="checkbox" id="FirstVisitPrintCheckBox" data-toggle="toggle" />
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-6 ">
                <p>Email</p>
                <div class="switch">
                    <input type="checkbox" id="FirstVisitPrintCheckBox" data-toggle="toggle" />
                </div>
            </div>
        </div><div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-6 ">
                <p>Password</p>
                <div class="switch">
                    <input type="checkbox" id="FirstVisitPrintCheckBox" data-toggle="toggle" />
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-6 ">
                <p>Zip Code</p>
                <div class="switch">
                    <input type="checkbox" id="FirstVisitPrintCheckBox" data-toggle="toggle" />
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-6 ">
                <p>Patient Color Status</p>
                <div class="switch">
                    <input type="checkbox" id="FirstVisitPrintCheckBox" data-toggle="toggle" />
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-6 ">
                <p>
                    Languages
                </p>
                <div class="switch">
                    <input type="checkbox" id="FirstVisitPrintCheckBox" data-toggle="toggle" />
                </div>
            </div>
        </div>
            

    </div>
</div>