@section styles{ 
    <style>
    
    </style>
}

<div class="row mt-2 mb-2">
    <div class="col-12">
        <div id="VistBtn">
            <input type="hidden" id="hiddenVisitId" />
            <ul>
                <li> <a class="waves-effect waves-light btn add-btn patient-btns" href="/Appointment/VisitView?visitid=">Profile</a></li>
                <li>  <a class="waves-effect waves-light btn add-btn patient-btns" href="/patientSideElite/AddClaimVisit?visitid=">Claims</a></li>
                <li>   <a class="waves-effect waves-light btn add-btn patient-btns" href="/patientSideElite/AddVitalsElite?visitid=">Vitals</a></li>
                <li>  <a class="waves-effect waves-light btn add-btn patient-btns" href="/GrowthChart/Add?visitid=">Growth Charts</a></li>
                <li> <a class="waves-effect waves-light btn add-btn patient-btns" href="/Immunization/AssignImmunization?visitid=">Immunizations</a></li>
                <li>  <a class="waves-effect waves-light btn add-btn patient-btns" href="/Template/DoctorTemplate?visitid=">Clinical Notes</a></li>
                <li>  <a class="waves-effect waves-light btn add-btn patient-btns" href="/patientSideElite/AddPrescriptionElite?visitid=">Prescriptions</a></li>
                <li> <a class="waves-effect waves-light btn add-btn patient-btns" href="/Lab/Add?visitid=">Labs</a></li>
                <li> <a class="waves-effect waves-light btn add-btn patient-btns" href="/Imaging/Add?id=">Imaging</a></li>
                <li> <a class="waves-effect waves-light btn add-btn patient-btns" href="/DME/DMESuppliesEdit?DMESupplyId=">DME</a></li>
                <li><a class="waves-effect waves-light btn add-btn patient-btns" href="/Tests/Add?VisitId=">Procedures</a></li>
                <li> <a class="waves-effect waves-light btn add-btn patient-btns" href="/Allergy/Add?VisitId=">Allergies</a></li>
                <li><a class="waves-effect waves-light btn add-btn patient-btns" href="/Messages/Add?VisitId=">Message</a></li>
                <li> <a class="waves-effect waves-light btn add-btn patient-btns" href="/Invoices/Add?id=">Inovice</a></li>
            </ul>
                  </div>
    </div>
</div>