@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row">
    <div class="col">
        <div class="center">
            <h4 class="color-blue">
                IMPORTANT TO THE ATTENDING DOCTOR
            </h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul>
            <li>
                This form is to be used to file reports in workers' compensation, volunteer firefighters' or volunteer ambulance workers' benefit cases as follows:
                <ul>
                    <li>
                        48 HOUR INITIAL REPORT - Prepare and submit this form, complete in all details, within 48 hours after you first render treatment.
                    </li>
                    <li>
                        If you continue to treat, use form C-4.2 for future reporting. DO NOT use this form for future reporting.
                    </li>
                </ul>
                All reports are to be filed with the Workers' Compensation Board, the workers' compensation insurance carrier, self-insured employer, and if the patient is represented by
                an attorney or licensed representative, with such representative. If the claimant is not represented, a copy must be sent to the claimant.
                Ophthalmologists use form C-5, Occupational/Physical Therapists use form OT/PT-4 and Psychologists use form PS-4 for filing reports.

            </li>
            <li>
                Please ask your patient for his/her WCB Case Number and the Insurance Carrier's Case Number, if they are known to him/her, and show these numbers on your reports.
                In addition, ask your patient if he/she has retained a representative. If so, ask for the name and address of the representative. You are required to send copies of all
                reports to the patient's representative, if any.
            </li>
            <li>
                This form must be signed by the attending doctor and must contain her/his authorization certificate number, code letters and NPI number. If the patient is hospitalized,
                it may be signed by a licensed doctor to whom the treatment of the case has been assigned as a member of the attending staff of the hospital.

            </li>
            <li>
                AUTHORIZATION FOR SPECIAL SERVICES - Form C-4 AUTH should be used to request any special medical service over $1000 or for those services requiring
                pre-authorization pursuant to the Medical Treatment Guidelines for the back, neck, knee and shoulder.
            </li>
            <li style="text-align:center">
                <h4 class="color-blue">
                    AUTHORIZATION FOR SPECIAL SERVICES IS NOT REQUIRED IN AN EMERGENCY
                </h4>
            </li>
            <li>
                LIMITATION OF PODIATRY TREATMENT - Podiatry treatment is limited as defined in Section 7001 of the Education Law and Section 13-k(2) of the Workers'
                Compensation Law.
            </li>
            <li>
                LIMITATION OF CHIROPRACTIC TREATMENT - Chiropractic treatment is limited as defined in Section 6551 of the Education Law and the Chair's Rules Relative to
                Chiropractic Practice Under Section 13-l of the Workers' Compensation Law.
            </li>
            <li>
                A CHIROPRACTOR OR PODIATRIST FILING THIS REPORT CERTIFIES THAT THE INJURY DESCRIBED CONSISTS SOLELY OF A CONDITION(S) WHICH MAY LAWFULLY BE TREATED AS
                DEFINED IN THE EDUCATION LAW AND, WHERE IT DOES NOT, HAS ADVISED THE INJURED PERSON TO CONSULT A PHYSICIAN OF HIS/HER CHOICE
            </li>
            <li>
                HIPAA NOTICE - In order to adjudicate a workers' compensation claim, WCL13-a(4)(a) and 12 NYCRR 325-1.3 require health care providers to regularly file medical
                reports of treatment with the Board and the carrier or employer. Pursuant to 45 CFR 164.512 these legally required medical reports are exempt from HIPAA's restrictions
                on disclosure of health information
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <textarea class="form-control">ANY PERSON WHO KNOWINGLY AND WITH INTENT TO DEFRAUD PRESENTS, CAUSES TO BE PRESENTED, OR PREPARES WITH KNOWLEDGE OR BELIEF
THAT IT WILL BE PRESENTED TO OR BY AN INSURER, OR SELF-INSURER, ANY INFORMATION CONTAINING ANY FALSE MATERIAL STATEMENT OR
CONCEALS ANY MATERIAL FACT SHALL BE GUILTY OF A CRIME AND SUBJECT TO SUBSTANTIAL FINES AND IMPRISONMENT.</textarea>
    </div>
</div>
<div class="row">
    <div class="col">
        <h4 class="color-blue">
            BILLING INFORMATION
        </h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <h6>
            Complete all billing information contained on this form. Use continuation Form C-4.1, if necessary. The workers' compensation carrier has 45
            days to pay your bill or to file an objection to it. Contact the workers' compensation carrier if you receive neither payment nor an objection within
            this time period. After contacting the carrier, you may, if necessary, contact the Board's Disputed Bill Unit, at the Customer Service toll-free
            number listed below, for information/assistance.
        </h6>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="center">
            <h4 class="color-blue">
                IMPORTANT TO THE PATIENT
            </h4>
        </div>
        <h6>
            YOUR DOCTORS' BILLS (AND BILLS FOR HOSPITALS AND OTHER SERVICES OF A MEDICAL NATURE) WILL BE PAID BY YOUR EMPLOYER,
            THE LIABLE POLITICAL SUBDIVISION OR ITS INSURANCE COMPANY OR THE UNAFFILIATED VOLUNTEER AMBULANCE SERVICE IF YOUR
            CLAIM IS ALLOWED. DO NOT PAY THESE BILLS YOURSELF, UNLESS YOUR CASE IS DISALLOWED OR CLOSED FOR FAILURE TO
            PROSECUTE.
            IF YOU HAVE ANY QUESTIONS CONCERNING THIS NOTICE OR YOUR CASE, OR WITH RESPECT TO YOUR RIGHTS UNDER THE WORKERS' COMPENSATION
            LAW, OR THE VOLUNTEER FIREFIGHTERS' OR VOLUNTEER AMBULANCE WORKERS' LAWS, YOU SHOULD CONSULT THE NEAREST OFFICE OF THE BOARD
            FOR ADVICE. ALWAYS USE THE CASE NUMBERS SHOWN ON THE OTHER SIDE OFTHIS NOTICE, OR ON OTHER PAPERS RECEIVED BY YOU, IF YOU FIND IT
            NECESSARY TO COMMUNICATE WITH THE BOARD OR THE CARRIER. ALSO, MENTION YOUR SOCIAL SECURITY NUMBER IF YOU WRITE OR CALL THE
            BOARD.
        </h6>
        <div class="center">
            <h4 class="color-blue">IMPORTANTE PARA EL PACIENTE</h4>
        </div>
        <h6>
            LAS FACTURAS POR SERVICIOS MEDICOS INCLUYENDO HOSPITALES Y TODO SERVICIO DE NATURALEZA MEDICA SERA PAGADO POR EL PATRONO O POR
            LA ENTIDAD RESPONSABLE O SU COMPANIA DE SEGUROS SEGUN SEA EL CASO; SI SU RECLAMACION ES APROBADA. NO PAGUE ESTAS FACTURAS A
            MENOS QUE SU CASO SEA DESESTIMADO EN SU FONDO O ARCHIVADO POR NO REALIZAR LOS TRAMITES CORRESPONDIENTES.
            SI USTED TIENE ALGUNA PREGUNTA, EN RELACION A ESTA NOTIFICACION O A SU CASO O EN RELACION A SUS DERECHOS BAJO LA LEY DE
            COMPENSACION OBRERA O LA LEY DE BOMBEROS VOLUNTARIOS O LA LEY DE SERVICIOS DE AMBULANCIAS VOLUNTARIOS DEBE COMUNICARSE CON
            LA OFICINA MAS CERCANA DE LA JUNTA PARA ORIENTACION. SIEMPRE USE EL NUMERO DEL CASO QUE APARECE EN LA PARTE DEL FRENTE DE ESTA
            NOTIFICACION, O EN OTROS DOCUMENTOS RECIBIDOS POR USTED. SI LE ES NECESARIO COMUNICARSE CON LA JUNTA O CON EL "CARRIER."
            TAMBIEN MENCIONE EN SU COMUNICACION ORAL O ESCRITA SU NUMERO DE SEGURO SOCIAL.
        </h6>
    </div>
</div>