
@{
    ViewData["Title"] = "VenderPaymentAdd";
    Layout = "~/Views/Shared/_LayoutElite.cshtml";
}


<div class="page-wrapper">
    <div class="container">
        <div id="breadcrumbs-wrapper">

            <div class="row">
                <div class=" col" margin-top-8">
                    <h5 class="breadcrumbs-title color-blue"> New Invoice</h5>
                </div>

                <div class="col">
                    <a href="@Url.Action("VenderPaymentList","DMEInventory")" class="waves-effect waves-light float-right" style="margin-top:-4%">
                        <i class="mdi mdi-arrow-left right arrow-icon"></i>

                    </a>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col s6 m6">
                <div class="input-field">
                    <p>Asignor Name</p>
                    <input class="text-input" type="text" placeholder="Enter Asignor Name">
                </div>
            </div>
            <div class="col s6 m6">
                <div class="input-field">
                    <p>Patient Name: </p>
                    <input class="text-input" type="text" placeholder="Enter Patient Name">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6 m6">
                <div class="input-field">
                    <p>Claim No</p>
                    <input class="text-input" type="text" placeholder="Enter Asignor Name">
                </div>
            </div>
            <div class="col s6 m6">
                <div class="input-field">
                    <p>Status</p>
                    <select class="select2 text-input" data-placeholder="Select Status">
                        <option value="" selected disabled></option>
                        <option value="Rent">Rent</option>
                        <option value="Purchase">Purchase</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6 m6">
                <div class="input-field">
                    <p>Date</p>
                    <input class="text-input" type="date" placeholder="Enter Date">
                </div>
            </div>
            <div class="col s6 m6">
                <div class="input-field">
                    <p>Billed Ammount</p>
                    <input class="text-input" type="text" placeholder="Enter Billed Ammount">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6 m6">
                <div class="input-field">
                    <p>Billed Paid</p>
                    <input class="text-input" type="text" placeholder="Enter Billed Paid">
                </div>
            </div>
            <div class="col s6 m6">
                <div class="input-field">
                    <p>Service Charges</p>
                    <input class="text-input" type="text" placeholder="Enter Service Charges">

                </div>
            </div>
        </div>
        <div class="row mt-2 mb-2">
            <div class="col s12">
                <div class="center">
                    <button type="button" id="saveBtn" class="btn add-btn">Save</button>

                    <a href="Javascript:void(0);" class="Recreate btn">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>