
@{
    ViewData["Title"] = "AddNewTransportSource";
    Layout = "~/Views/Shared/_LayoutElite.cshtml";
}


@section styles{
   
}
@section scripts{
    
    <script>
        $(function () {

            $(".select2").select2();
            $('.selectpicker').selectpicker();
        });


    </script>
    <script>
	$(document).ready(function () {
		$('.dropify').dropify();
	});
    </script>
}
<div class="page-wrapper">
    <div class="container">
        <div id="breadcrumbs-wrapper">
    
                <div class="row">
                    <div class=" col" margin-top-8">
                        <h5 class="breadcrumbs-title color-blue"> Transport</h5>
                    </div>

                    <div class="col">
                        <a href="@Url.Action("TransportEMS","provider")" class="waves-effect waves-light float-right" style="margin-top:-11px">
                            <i class="mdi mdi-arrow-left right arrow-icon"></i>

                        </a>
                    </div>

                </div>
       
        </div>
      
                <div class="row">
                    <form class="col-sm-12  ">
                        <div class="row">

                            <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                                <p>Ambulance ID</p>

                                <div class="input-field">
                                    <input type="text" class="text-input" placeholder="Enter Ambulance ID">
                                </div>
                            </div>
                            <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                                <p>Ambulance Number</p>

                                <div class="input-field">
                                    <input type="text" class="text-input" placeholder="Enter Ambulance Number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                                <p>Driver Name</p>

                                <div class="input-field">
                                    <input type="text" class="text-input" placeholder="Enter Driver Name">
                                </div>
                            </div>
                            <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                                <p>Area</p>

                                <div class="input-field">
                                    <input type="text" class="text-input" placeholder="Enter Area">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                                <p>Patient ID</p>

                                <div class="input-field">
                                    <input type="text" class="text-input" placeholder="Enter Patient ID">
                                </div>
                            </div>
                            <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                                <p>Status</p>

                                <div class="input-field">
                                    <input type="text" class="text-input" placeholder="Enter Status">
                                </div>
                            </div>


                        </div>
                        <div class="row mt-2 mb-2">
                            <div class="col s12">
                                <div class="center">
                                    <a href="javascript:void(0);" class="waves-effect waves-light btn add-btn">Save</a>
                                    <a href="#" class=" btn  Recreate">
                                        Edit
                                    </a>
                                    <a href="#" class="Recreate btn">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
     
    </div>
</div>





