

@{
    ViewData["Title"] = "AddNewDME";
    Layout = "~/Views/Shared/_LayoutElite.cshtml";


}




@section styles{



}


@section scripts{

    <script>
        $(function () {

            $(".select2").select2();
            $('.selectpicker').selectpicker();
        });


    </script>
    <script src="~/Elite/node_modules/dropify/dist/js/dropify.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropify').dropify();
        });
    </script>


}
<div class="page-wrapper">
    <div class="container">
        <div id="breadcrumbs-wrapper">
            <!-- Search for small screen-->

            <div class="row">
                <div class=" col" margin-top-8">
                    <h5 class="breadcrumbs-title color-blue"> DME Supplies/Equipment</h5>
                </div>

                <div class="col">
                    <a href="@Url.Action("DME","provider")" class="waves-effect waves-light float-right" style="margin-top:-11px">
                        <i class="mdi mdi-arrow-left right arrow-icon">
                        </i>

                    </a>
                </div>

            </div>
        </div>

        <div class="row">
            <form class="col-sm-12" asp-action="AddNewDME" asp-controller="ProviderController" method="post" id="DMEAddForm">
                <div class="row">
                    <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                        <p>Date of Prescription</p>

                        <div class="input-field">
                            <input type="date" class="text-input" placeholder="select date">
                        </div>
                    </div>
                    <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                        <p>
                            Items or Items Group Name/No
                        </p>

                        <div class="input-field">
                            <select class="select2 form-control  text-input" style="width: 100%;">
                                <option>Select Items</option>

                                <option value="AK">Bronx NY</option>
                                <option value="HI">New Jersy</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                        <p>
                            CPT Code
                        </p>

                        <div class="input-field">
                            <select class="select2 form-control  text-input" style="width: 100%;">
                                <option>Select CPT</option>

                                <option value="AK">Bronx NY</option>
                                <option value="HI">New Jersy</option>
                            </select>
                        </div>
                    </div>
                    <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                        <p>
                            ICD Code
                        </p>
                        <div class="input-field">
                            <select class="select2 form-control  text-input" style="width: 100%;">
                                <option>Select ICD</option>

                                <option value="AK">Smart Guy, Esq</option>
                                <option value="HI">Rosy</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                        <p>
                            Prescriber
                        </p>

                        <div class="input-field">
                            <select class="select2 form-control  text-input" style="width: 100%;">
                                <option>Select Prescriber</option>

                                <option value="AK">N/A</option>



                            </select>
                        </div>

                    </div>
                    <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                        <p>
                            Barcode No
                        </p>

                        <div class="input-field">
                            <select class="select2 form-control  text-input" style="width: 100%;">
                                <option>Select Barcode</option>
                                <option value="AK">Yes</option>
                                <option value="AK">No</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                        <p>
                            Prescription Reference/No
                        </p>

                        <div class="input-field">
                            <select class="select2 form-control  text-input" style="width: 100%;">
                                <option>Select Reference/No</option>

                                <option value="AK">No show</option>
                            </select>
                        </div>
                    </div>
                    <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                        <p>
                            Status
                        </p>

                        <div class="input-field">
                            <select class="select2 form-control  text-input" style="width: 100%;">
                                <option>Select Status</option>

                                <option value="AK">No show</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                        <p>
                            Upload Image

                        </p>
                        <input type="file" id="input-file-now-custom-2" class="dropify" data-height="100" />
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col s12">
                        <div class="center">
                            <a href="javascript:void(0);" class="waves-effect waves-light btn add-btn">Save</a>

                        </div>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>




