@model MediClinic.Models.ProviderViewModel
@{
    ViewData["Title"] = "Edit Template";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/app-assets/base/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" />
    <style>

        .select2-container .select2-selection--single {
            height: 49px !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 44px !important
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 44px;
        }

        .select-wrapper input.select-dropdown {
            display: none !important;
        }

        .select2 {
            border: 1px solid #f2f2f2 !important;
            display: block !important;
            width: 100% !important;
        }

        label, input {
            position: relative;
            display: block;
            padding-right: 76px;
            width: 170px;
            box-sizing: border-box;
        }

            label::after {
                content: '.' attr(data-domain);
                position: absolute;
                top: 4px;
                left: 94px;
                font-family: arial, helvetica, sans-serif;
                font-size: 12px;
                display: block;
                color: rgba(0, 0, 0, 0.6);
                font-weight: bold;
            }

        .abc {
            width: 88% !important;
            border-top-right-radius: 0px !important;
            border-bottom-right-radius: 0px !important
        }

        .current .custom-combobox {
            width: 94% !important
        }

        .custom-combobox {
            width: 96% !important;
            margin-top: 0px !important;
        }

        .custom-combobox {
            position: relative;
            display: inline-block;
        }

        .custom-combobox-toggle {
            position: absolute;
            top: 0;
            bottom: 0;
            margin-left: -1px;
            padding: 0;
        }

        .form-add-btn {
            float: right !important
        }

        .custom-combobox-input {
            margin: 0;
            padding: 5px 10px;
        }

        .ui-widget .select-wrapper .select-dropdown, .select-wrapper .caret {
            display: none
        }

        .input-field {
            margin: 0 auto
        }

        .row .col.s3 {
            width: auto !important;
        }

        .tabs {
            border-bottom: 1px solid #6b6f82 !important;
            border-left: 1px solid #6b6f82 !important;
        }

            .tabs li a {
                font-size: 16px !important;
                color: #6b6f82 !important;
            }

        .text-danger {
            color: #CA0B00;
        }

        .d-none-td {
            display: none;
        }

        .checkmark {
            width: 110px;
            height: 110px;
            border-radius: 50%;
            display: block;
            stroke-width: 4;
            stroke: #4bb71b;
            stroke-miterlimit: 10;
            box-shadow: inset 0px 0px 0px #4bb71b;
            animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
            position: fixed;
            top: 12%;
            right: 2%;
            float: right;
            z-index: 9999;
        }

        .checkmark__circle {
            stroke-dasharray: 166;
            stroke-dashoffset: 166;
            stroke-width: 4;
            stroke-miterlimit: 10;
            stroke: #4bb71b;
            fill: #fff;
            animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
        }

        .checkmark__check {
            transform-origin: 50% 50%;
            stroke-dasharray: 48;
            stroke-dashoffset: 48;
            animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
        }

        @@keyframes stroke {
            100% {
                stroke-dashoffset: 0;
            }
        }

        @@keyframes scale {
            0%, 100% {
                transform: none;
            }

            50% {
                transform: scale3d(1.1, 1.1, 1);
            }
        }

        @@keyframes fill {
            100% {
                box-shadow: inset 0px 0px 0px 30px #4bb71b;
            }
        }
    </style>
}

<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s6 m6 ">
                <h5 class="breadcrumbs-title color-blue mt-0">Update Medications Template</h5>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <form class="form-inline col s12" asp-action="SaveSingleMedicationTemplate" asp-controller="Provider" id="SaveUpdateTemplateForm">
            <input type="hidden" asp-for="TemplateBasicDto.TemplateId" />
            
            <div class="row">
                <div class="col s12 m6">
                    <div class="input-field">
                        <p>Template Name <span class="required"> * </span></p>
                        <input class="text-input" asp-for="TemplateBasicDto.Name" type="text" id="TemplateName" placeholder="Template Name">
                        <span asp-validation-for="TemplateBasicDto.Name" class="required"></span>
                    </div>
                </div>
            </div>
            <div id="preForm">
                <partial name="../_PatientPartialView/_EditPrescriptionTemplate" />
            </div>


            <div class="row mt-2 mb-2">
                <div class="col s12 m12" style="text-align:center">
                    <button type="submit" class="waves-effect waves-light btn add-btn">Save</button>
                </div>
            </div>
            <br />
            <div class="row" id="mediData">
                <div class="col s12">
                    <table class="centered highlight bordered" id="prescriptionData" style="margin-bottom:30px;">
                        <thead>
                            <tr class="uppercase card">
                                <th>Medication Name</th>
                                <th>Quantity</th>
                                <th>Frequency</th>
                                <th>Dose</th>
                                <th>Unit</th>
                                <th>Start Date</th>
                                <th>Ent Date</th>
                                <th>Medication Comments</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody id="medicineTemplateBody"></tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>

</div>
<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>
    <script src="~/app-assets/base/jquery-ui.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/app-assets/js/jquery.form.js"></script>

    <script>
        $(document).ready(function () {
            var TemplateId = parseInt($('#TemplateBasicDto_TemplateId').val());
            GetMedication(TemplateId)
        });

        function GetMedication(TemplateId) {
            $.get("/Provider/GetTemplateMedications", { Id: TemplateId }).done(function (data) {
                $('#medicineTemplateBody').html('');

                for (var medicine of data) {

                    var $tr = $('<tr class="card" rowId=' + medicine.id + '>').append(
                        $('<td>').text(medicine.name),
                        $('<td>').text(medicine.quantity),
                        $('<td>').text(medicine.frequencyId),
                        $('<td>').text(medicine.dose),
                        $('<td>').text(medicine.unit),
                        $('<td>').text(moment(medicine.startDate).format('DD-MMM-YYYY')),
                        $('<td>').text(moment(medicine.endDate).format('DD-MMM-YYYY')),
                        $('<td>').text(medicine.notes),
                        $('<td>').html('<a href="javascript: void (0);" onclick="onPrescriptionUpdate(' + medicine.id + ')" class="btn-update "><i class="material-icons" style="color:#007bff">edit</i></a> <a href="javascript: void (0);" onclick="onPrescriptionDelete(' + medicine.id + ')"><i class="material-icons" style="color:#d9534f">delete</i></a> ')
                    );

                    $('#medicineTemplateBody').append($tr);
                }

            });
        }
        function onPrescriptionUpdate(TemplateId) {
            $.get("/Provider/EditPrescriptiontemplate", { Id: TemplateId }).done(function (data) {
                $('#preForm').html('');
                $('#preForm').html(data);
            });
        }
        function onPrescriptionDelete(ID) {
            var tempId = parseInt($('#TemplateBasicDto_TemplateId').val());
            Swal.fire(sweet3).then((result) => {
                if (result.value) {
                    $.get("/Provider/DeleteTemplatePrescriptionById", { Id: ID, TemplateId: tempId }).done(function (data) {
                        $('#medicineTemplateBody').html('');

                        for (var medicine of data) {

                            var $tr = $('<tr class="card" rowId=' + medicine.id + '>').append(
                                $('<td>').text(medicine.name),
                                $('<td>').text(medicine.quantity),
                                $('<td>').text(medicine.frequencyId),
                                $('<td>').text(medicine.dose),
                                $('<td>').text(medicine.unit),
                                $('<td>').text(moment(medicine.startDate).format('DD-MMM-YYYY')),
                                $('<td>').text(moment(medicine.endDate).format('DD-MMM-YYYY')),
                                $('<td>').text(medicine.notes),
                                $('<td>').html('<a href="javascript: void (0);" onclick="onPrescriptionUpdate(' + medicine.id + ')" class="btn-update "><i class="material-icons" style="color:#007bff">edit</i></a> <a href="javascript: void (0);" onclick="onPrescriptionDelete(' + medicine.id + ')"><i class="material-icons" style="color:#d9534f">delete</i></a> ')
                            );

                            $('#medicineTemplateBody').append($tr);
                        }
                        $(".checkmark").show().fadeOut(6000);
                    });
                }
                if (result.dismiss === swal.DismissReason.cancel) {
                    return false;
                }
            });
        }
    </script>

    <script>
        $('#SaveUpdateTemplateForm').on('submit', function (e) {
            e.preventDefault();
            if ($(this).valid()) {
                $(this).ajaxSubmit({
                    success: function (response) {
                        if (response == "exist") {
                            ExistsMsg();
                        }
                        else {
                            $(".checkmark").show().fadeOut(6000);
                            window.location.href = '../Template';
                        }
                    }
                });
            }
            else {
                $("#saveTemplate").prop('disabled', false);
            }
        });
    </script>
<script>
    $(function () {
        var dateFormat = "mm/dd/yy",
            from = $("#startDate")
                .datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    minDate:new Date(),
                    numberOfMonths: 1
                })
                .on("change", function () {
                    to.datepicker("option", "minDate", getDate(this));
                }),
            to = $("#endDate").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1
            })
                .on("change", function () {
                    from.datepicker("option", "maxDate", getDate(this));
                });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }

            return date;
        }
    });
</script>
}

