
@{
    ViewData["Title"] = "DepartmentDutyroster";
    Layout = "~/Views/Shared/_LayoutElite.cshtml";
}

@section styles{
    <link href="~/Elite/css/pages/tab-page.css" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    
    <style>




        .Bill_options {
            margin-top: 0px;
        }

        .tabs {
            height: auto !important;
        }

        .card {
            padding: 10px !important;
        }

        .toggle-handle {
            margin-top: -3px !important;
        }

        .switch {
            margin: 12px 0;
        }

        .toggle-group .btn {
            padding: 0 1rem !important;
        }

        .btn-primary {
            color: #fff;
            background-color: #428bca !important;
        }

        .btn-default {
            color: #333;
            background-color: #e6e6e6;
            border-color: #ccc;
        }

            .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
                color: #333;
                background-color: #e6e6e6;
                border-color: #adadad;
            }

        .select2 {
            width: 100% !important;
        }

        .tab-content .container {
            padding: 20px !important;
            margin-bottom: 0 !important;
        }

        .tab-pane {
            padding: 20px 0px !important;
        }

        .card-content {
            padding: 16px !important;
            border-radius: 0 0 2px 2px;
        }

        .AddReminder p {
            margin-top: 1rem !important;
        }

        .top_part {
            margin: 1rem 0 0rem 0 !important;
            border-radius: 0 0 2px 2px;
            box-shadow: 1px 1px 12px 1px #e2e2e2 !important;
        }

        .position-relative {
            position: relative;
        }

        .display-flex {
            display: flex;
        }

        .position-absolute {
            position: absolute;
        }

        .search-icons {
            left: 12px;
            top: 12px;
        }

        .tablee .card {
            border-radius: 5px !important;
            box-shadow: 1px 1px 12px 1px #e2e2e2 !important;
            position: relative !important;
            flex-direction: column !important;
            display: table-row !important;
            box-shadow: 1px 1px 12px 1px #e2e2e2 !important;
        }

        h3, h4 {
            color: #333 !important
        }

        .customtab li a.nav-link {
            font-size: 16px;
            margin-right: 4px !important;
        }

            .customtab li a.nav-link.active, .customtab li a.nav-link:hover {
                color: #fff !important;
                background-color: #547cea !important;
            }

            .customtab li a.nav-link.active {
                border-bottom: 2px solid black !important;
            }

        .nav-tabs .nav-link {
            border-top-left-radius: 0px !important;
            border-top-right-radius: 0px !important;
        }

        .toggle-off:hover {
            color: Gray !important;
        }

        .toggle-handle {
            background-color: #e6e6e6 !important;
            border-color: #ccc !important;
        }
    </style>

}

<div class="page-wrapper">
    <div class="container">
        <div id="breadcrumbs-wrapper">
            <!-- Search for small screen-->
            <div class="row">
                <div class=" col" margin-top-8">
                    <h5 class="breadcrumbs-title color-blue">Departments</h5>
                </div>
                <div class="col">
                    @*<a class="waves-effect waves-light float-right" href="@Url.Action("CompanyBills","Add")" style="margin-top: -11px">
                <i class="mdi mdi-arrow-left right arrow-icon"></i>
            </a>*@
                </div>
               
            </div>
            <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs customtab" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab"> <span class="hidden-xs-down">Departments</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab2" role="tab"><span class="hidden-xs-down"></span>Duty Roster</a> </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1" role="tabpanel">
                        <div id="breadcrumbs-wrapper">
                            <div class="row">
                                <div class="col-md-2" margin-top-8">
                                    <h5 class="breadcrumbs-title color-blue">Departments</h5>
                                </div>
                                <div class="col-md-10 text-align">
                                    <a href="@Url.Action("Departments","Departments")" class="btn  float-right add-btn set_smallscreen">
                                        Add Department
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row tablee">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="companyBillGrid1" class="table dataTables_wrapper ">
                                        <thead>
                                            <tr class="uppercase">
                                                <th>Department Name </th>
                                                <th>Room</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr class="card" style="cursor: pointer">
                                                <td>ACUPUNCTUR</td>
                                                <td>8</td>

                                                <td class="action">
                                                    <button class="btn btn-danger dropdown-toggle table_btn" type="button" data-toggle="dropdown">
                                                        Options
                                                        @*<span class="caret"></span>*@
                                                    </button>
                                                    <ul class="dropdown-menu Table_Drop ul_Caim">
                                                        <li> <a>Delete</a></li>
                                                        <li><a>Edit</a></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr class="card" style="cursor: pointer">
                                                <td>ENT</td>
                                                <td>5</td>

                                                <td class="action">
                                                    <button class="btn btn-danger dropdown-toggle table_btn" type="button" data-toggle="dropdown">
                                                        Options
                                                        @*<span class="caret"></span>*@
                                                    </button>
                                                    <ul class="dropdown-menu Table_Drop ul_Caim">
                                                        <li> <a>Delete</a></li>
                                                        <li><a>Edit</a></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr class="card" style="cursor: pointer">
                                                <td>CSSD</td>
                                                <td>10</td>

                                                <td class="action">
                                                    <button class="btn btn-danger dropdown-toggle table_btn" type="button" data-toggle="dropdown">
                                                        Options
                                                        @*<span class="caret"></span>*@
                                                    </button>
                                                    <ul class="dropdown-menu Table_Drop ul_Caim">
                                                        <li> <a>Delete</a></li>
                                                        <li><a>Edit</a></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr class="card" style="cursor: pointer">
                                                <td>ICU</td>
                                                <td>15</td>

                                                <td class="action">
                                                    <button class="btn btn-danger dropdown-toggle table_btn" type="button" data-toggle="dropdown">
                                                        Options
                                                    </button>
                                                    <ul class="dropdown-menu Table_Drop ul_Caim">
                                                        <li>delete</li>
                                                        <li>Edit</li>
                                                    </ul>
                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane " id="tab2" role="tabpanel">
                        <div id="breadcrumbs-wrapper">
                            <div class="row">
                                <div class="col-md-2" margin-top-8">
                                    <h5 class="breadcrumbs-title color-blue">Duty Roster</h5>
                                </div>
                                <div class="col-md-10 text-align">
                                    <a href="@Url.Action("StaffDuty","Departments")" class="btn  float-right add-btn set_smallscreen">
                                        Add New Roster
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row tablee">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="companyBillGrid2" class="table dataTables_wrapper ">
                                        <thead>
                                            <tr class="uppercase">
                                                <th>Department Name </th>
                                                <th>Room No</th>
                                                <th>Room Name</th>

                                                <th>Staff Name</th>
                                                <th>Start time </th>
                                                <th>End Time</th>
                                                <th>Days</th>
                                                <th class="all">Action  </th>

                                            </tr>
                                        </thead>
                                        <tbody>


                                            <tr class="card" style="cursor: pointer">
                                                <td>Cardialogy</td>
                                                <td>10</td>
                                                <td>Icu</td>
                                                <td>jone nick</td>
                                                <td>06:00:00</td>
                                                <td>07:00:00</td>
                                                <td>Monday</td>
                                                <td class="action">
                                                    <button class="btn btn-danger dropdown-toggle table_btn" type="button" data-toggle="dropdown">
                                                        Options
                                                        @*<span class="caret"></span>*@
                                                    </button>
                                                    <ul class="dropdown-menu Table_Drop ul_Caim">
                                                        <li> <a>Delete</a></li>
                                                        <li><a>Edit</a></li>
                                                    </ul>
                                                </td>


                                            </tr>
                                            <tr class="card" style="cursor: pointer">
                                                <td>Acupuncture</td>
                                                <td>15</td>
                                                <td>Eco</td>
                                                <td>Mary Seacole</td>
                                                <td>06:00:00</td>
                                                <td>07:00:00</td>
                                                <td>Tuesday</td>
                                                <td class="action">
                                                    <button class="btn btn-danger dropdown-toggle table_btn" type="button" data-toggle="dropdown">
                                                        Options
                                                        @*<span class="caret"></span>*@
                                                    </button>
                                                    <ul class="dropdown-menu Table_Drop ul_Caim">
                                                        <li> <a>Delete</a></li>
                                                        <li><a>Edit</a></li>
                                                    </ul>
                                                </td>



                                            </tr>
                                            <tr class="card" style="cursor: pointer">
                                                <td>Radilogy</td>
                                                <td>13</td>
                                                <td>Ecg</td>
                                                <td>Elizebth</td>
                                                <td>08:00:00</td>
                                                <td>6:00:00</td>
                                                <td>Wednesday</td>
                                                <td class="action">
                                                    <button class="btn btn-danger  table_btn" type="button" data-toggle="dropdown">
                                                        Options
                                                        @*<span class="caret"></span>*@
                                                    </button>
                                                    <ul class="dropdown-menu Table_Drop ul_Caim">
                                                        <li> <a>Delete</a></li>
                                                        <li><a>Edit</a></li>
                                                    </ul>
                                                </td>



                                            </tr>
                                            <tr class="card" style="cursor: pointer">
                                                <td>ICU</td>
                                                <td>8</td>
                                                <td>Xray</td>
                                                <td>Luci</td>
                                                <td>07:00:00</td>
                                                <td>05:00:00</td>
                                                <td>Friday</td>
                                                <td class="action">
                                                    <button class="btn btn-danger dropdown-toggle table_btn" type="button" data-toggle="dropdown">
                                                        Options
                                                        @*<span class="caret"></span>*@
                                                    </button>
                                                    <ul class="dropdown-menu Table_Drop ul_Caim">
                                                        <li> <a>Delete</a></li>
                                                        <li><a>Edit</a></li>
                                                    </ul>
                                                </td>



                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
@section scripts{
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    
    <script>
       
        $('.select2').select2();
        $(function () {
            $('#subUserGrid').DataTable({
                "lengthMenu": false,
                "lengthChange": false,
                "scrollX": false,
                "searching": false,
                "responsive": true,
                "info": false,
                ///  'order': [], 'columnDefs': [{ "targets": [0, 14], "orderable": false }],
            });
            $('#companyBillGrid1').DataTable({
                "lengthMenu": false,
                "lengthChange": false,
                "scrollX": false,
                "searching": false,
                "responsive": true,
                "info": false,

            });
            $('#companyBillGrid2').DataTable({
                "lengthMenu": false,
                "lengthChange": false,
                "scrollX": false,
                "searching": false,
                "responsive": true,
                "info": false,

            });
        });
        function deleteMesg(Id, event) {
            debugger;
            event.closest('tr').remove();
            $.get("/CompanyBills/Delete", { billId: Id }).done(function (data) {
            });
            $(".checkmark").show().fadeOut(6000);
        }
        var table;
        $(document).ready(function () {

            $('.select-all').click(function () {
                debugger;
                $('table tbody tr th input').prop('checked', this.checked);
            });



        });
        $('[data-search]').on('keyup', function () {
            table.search(this.value).draw();

        });

        function deleteRadiology(Id, event) {

            event.closest('tr').remove();
            $.get("/Radiology/Delete", { RadiolId: Id }).done(function (data) {
            });
            $(".checkmark").show().fadeOut(6000);
        }

    </script>
}
