@using MediClinic.Models.DTOs;
@model ClinicalReminderDto;

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_LayoutElite.cshtml";
}

@section styles
{
    <link href="~/app-assets/base/jquery-ui.css" rel="stylesheet" />


    <style>
        .top_part .card-content {
            padding: 16px !important;
            border-radius: 0 0 2px 2px;
        }

        .top_part {
            margin: 1rem 0 0rem 0 !important;
            border-radius: 0 0 2px 2px;
            box-shadow: 1px 1px 12px 1px #e2e2e2 !important;
        }

        .position-relative {
            position: relative;
        }

        .display-flex {
            display: flex;
        }

        .position-absolute {
            position: absolute;
        }

        .search-icons {
            left: 12px;
            top: 12px;
        }

        .Bill_options {
            margin-top: 0px;
        }

        .checkbox {
            margin-top: 50px;
        }
    </style>

}
@section scripts{
    <script src="~/app-assets/base/jquery-ui.js"></script>

    <script>
        $('.datepicker').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "c-100:c+10",
            showButtonPanel: true,
            dateFormat: "mm/dd/yy",
            minDate: 0
        });
        $('.select2').select2();
        //var table;
        //$(document).ready(function () {
        //    $('.select-all').click(function () {
        //        $('table tbody tr th input').prop('checked', this.checked);
        //    });
        //    table = $('#myTableClaim').DataTable({
        //        "lengthMenu": false,
        //        "lengthChange": false,
        //        "scrollX": false,
        //        "searching": false,
        //        "responsive": true,
        //        "info": false,
        //        'order': [], 'columnDefs': [{ "targets": [0, 8], "orderable": false }],
        //    });
        //    $('[data-search]').on('keyup', function () {
        //        table.search(this.value).draw();
        //    });
        //})
        function ClinicalImageString(count, src = '', Id) {

            var clinicImage = '';
            clinicImage += '<tr class="row-' + count + '">';
            clinicImage += '	<td hidden>' + Id + '</td>';
            clinicImage += '	<td>' + count + '</td>';
            clinicImage += '	<td class="view_Img-' + count + '"></td>';
            clinicImage += '	<td class="upload-img-' + count + '"><input type="file" class="trendimageupload fa-align-center" data-count="' + count + '" id="trendimageupload-' + count + '"></td></td>';
            clinicImage += '	<td style="text-align:center"><button type="button" class="btn close delete-row-btn" data-count="' + count + '" aria-label="Close" onclick="deleteTrending(' + Id + ', this);" style="align-items:center"><i class="fas fa-trash"></i></button></td>';
            clinicImage += '</tr>';
            $("#preview > tbody").append(trendImage);
        }
    </script>
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<div class="page-wrapper">
    <div class="container">
        <div id="breadcrumbs-wrapper">
            <div class="row">
                <div class=" col" margin-top-8">
                    <h5 class="breadcrumbs-title color-blue"> Clinical Reminder</h5>
                </div>
                <div class="col">
                    <a class="waves-effect waves-light float-right" style="margin-top:-11px" href="/ClinicalReminder/Index">
                        <i class="mdi mdi-arrow-left right arrow-icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <form class="col-sm-12" asp-action="Add" asp-controller="ClinicalReminder" method="post" id="ClinicalReminderForm" enctype="multipart/form-data">
                <input type="hidden" class="text-input" asp-for="@Model.CRId" placeholder="id">
                <input type="hidden" class="text-input" asp-for="VisitId" />
                <div class="row">
                    <div class=" col-md-6">
                        <p>Reminder Date</p>

                        <div class="input-field">
                            <input type="text" class="text-input datepicker"  placeholder="select date" asp-for=@Model.ReminderDate>
                            <span class="required" asp-validation-for="@Model.ReminderDate"></span>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <p>
                            Reminder Type
                        </p>
                        <div class="input-field">
                            <select class="select2 text-input" data-placeholder="SelecT Type" asp-for=@Model.ReminderType>
                                <option value="" selected disabled></option>
                                <option value="Urgent">URGENT</option>
                                <option value="Phone Calls">Phone Calls</option>
                                <option value="Emails">Emails</option>
                                <option value="Text Messages">Text Messages</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <p>
                            Reminder by
                        </p>
                        <div class="input-field">
                            <select class="select2 text-input" data-placeholder="Select Reminder By" asp-for=@Model.ReminderBy style="width: 100%;">
                                <option value="" selected disabled></option>
                                <option value="Dr Aibolt">Dr Aibolt</option>
                                <option value="Dr Jack">Dr Jack</option>
                            </select>
                        </div>
                    </div>
                    <div class=" col-md-6 ">
                        <p>Reminders</p>
                        <div class="input-field">
                            <input type="text" class="text-input" placeholder="Enter Reminders" asp-for=@Model.Reminders>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-6 ">
                        <p>Due Date</p>
                        <div class="input-field">
                            <input type="text"  class="text-input datepicker" placeholder="select date" asp-for=@Model.DueDate>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <p>
                            Reminder by
                        </p>
                        <input type="file" name="file" class="form-control" data-height="100" />
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col s12">
                        <div class="center">
                            <button type="submit" class="waves-effect waves-light btn add-btn">Save</button>
                            <a href="@Url.Action("Index","ClinicalReminder")" class="waves-effect waves-light Recreate btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
