@using  MediClinic.Services.Interfaces.SessionManager
@inject ISessionManager _sessionManager

<div id="breadcrumbs-wrapper">
    <!-- Search for small screen-->

</div>
<div class="container">
    <div class="card">

        <div class="row">

            <div class="col s6 m6 l6">
                <p>
                    Require Complex Login Credentials
                </p>
                <div class="switch">
                    <input type="checkbox" data-toggle="toggle">
                </div>
            </div>
            <div class="col s6 m6 l6">
                <p>
                    Require Complex Login Credentials For Signatures
                </p>
                <div class="switch">
                    <input type="checkbox" data-toggle="toggle">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6 m6 l6">
                <p>Allow Changing Login Credentials</p>
                <div class="switch">
                    <input type="checkbox" data-toggle="toggle">
                </div>
            </div>
            <div class="col s6 m6 l6">
                <p>Suggest Using Name/last Name For Signature Password</p>
                <div class="switch">
                    <input type="checkbox" data-toggle="toggle">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col s12">
                <h6 class="color-blue">Forgotten Password Reset Via</h6>

            </div>

            <div class="col s6 m6 l6">
                <p>Email</p>
                <div class="switch">
                    <input type="checkbox" data-toggle="toggle">
                </div>
            </div>
            <div class="col s6 m6 l6">
                <p>Sms</p>
                <div class="switch">
                    <input type="checkbox" data-toggle="toggle">
                </div>
            </div>
            <div class="col s6 m6 l6">
                <p>Require Signature</p>
                <div class="switch">
                    <input type="checkbox" data-toggle="toggle">
                </div>
            </div>

        </div>

    </div>

</div>
