@model MediClinic.Models.PatientViewModel

<div class="tab-pane" id="test5" role="tabpanel">

    <div class="card">
        <div class="card-content">

            <div class="row">
                <h5 class="color-blue pl-2">Claim Info</h5>
                <form class="col-sm-12" asp-action="PatientClaimInfo" asp-controller="PatientSideElite" id="patientClaimForm" method="post">
                    <input class="text-input input-styling" asp-for="patientClaimInfo.UserId" id="Patientclaim_UserId" type="text" hidden="hidden">
                    <input hidden="hidden" asp-for="patientInfoBasicDto.UserId" />
                    <input hidden="hidden" id="hiddenClaimInfoBasicUserid" asp-for="patientClaimInfo.PatientClaimID" />
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                Primary Insurance Provider<span class="required"> * </span>
                            </p>

                            <div class="input-field">
                                <input class="text-input input-styling primaryInsuranceProvider claim_tab patientClaimInfoTxtField" asp-for="patientClaimInfo.PrimaryInsuranceProvider" type="text" placeholder="Enter Primary Insurance Provider">
                                <span class="required" asp-validation-for="patientClaimInfo.PrimaryInsuranceProvider"></span>
                            </div>

                        </div>
                        <div class="col-md-6 ">
                            <p>
                                Address Line 1<span class="required"> * </span>
                            </p>

                            <div class="input-field">
                                <input class="text-input input-styling primaryInsuranceAddress claim_tab patientClaimInfoTxtField" asp-for="patientClaimInfo.Addressline1" type="text" placeholder="Enter Addressline 1">
                                <span class="required" asp-validation-for="patientClaimInfo.Addressline1"></span>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ">
                            <p>
                                Address Liine 2
                            </p>

                            <div class="input-field">
                                <input class="text-input input-styling claim_tab patientClaimInfoTxtField" type="text" asp-for="patientClaimInfo.Addressline2" placeholder="Enter Addressline 2">
                            </div>

                        </div>
                        <div class="col-md-6 ">
                            <p>
                                Address Line 3
                            </p>

                            <div class="input-field">
                                <input class="text-input input-styling claim_tab patientClaimInfoTxtField" type="text" asp-for="patientClaimInfo.Addressline3" placeholder="Enter Address line 3">
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ">
                            <p>
                                Zip Code<span class="required"> * </span>

                            </p>

                            <div class="input-field">

                                <input class="text-input input-styling primaryInsuranceZipCode claim_tab patientClaimInfoTxtField" maxlength="5" id="claim_Zip" onkeypress="return AvoidSpace(event)" asp-for="patientClaimInfo.Zip" type="text" placeholder="Enter ZIP Code">
                                <span class="required" asp-validation-for="patientClaimInfo.Zip"></span>
                                <span class="required" id="err_claimzip"></span>
                            </div>

                        </div>
                        <div class="col-md-6 ">
                            <p>
                                City

                            </p>

                            <div class="input-field">
                                <input class="text-input input-styling primaryInsuranceCity city patientClaimInfoTxtField" id="claim_city" type="text" asp-for="patientClaimInfo.City" readonly>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <p>
                                State

                            </p>

                            <div class="input-field">
                                <input class="text-input input-styling primaryInsuranceState state patientClaimInfoTxtField" id="claim_state" type="text" asp-for="patientClaimInfo.State" readonly>
                            </div>

                        </div>
                        <div class="col-md-6 ">
                            <p>
                                Country

                            </p>

                            <div class="input-field">
                                <input class="text-input input-styling primaryInsuranceCountry country patientClaimInfoTxtField" id="claim_country" type="text" asp-for="patientClaimInfo.Country" readonly>
                            </div>


                        </div>

                    </div>

                    <div class="row">
                        <div class=" col-md-6 ">
                            <p>Web Page</p>

                            <div class="input-field">
                                <input class="text-input input-styling webPageUrl claim_tab patientClaimInfoTxtField" onkeypress="return AvoidSpace(event)" type="text" asp-for="patientClaimInfo.WebPage" placeholder="Enter Web Page">
                                <span class="required" id="web_err"></span>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <p>
                                Primary Phone
                            </p>
                            <div class="input-field">
                                <input class="text-input input-styling phoneno claim_tab patientClaimInfoTxtField" type="text" id="claim_number" asp-for="patientClaimInfo.PrimaryPhone" placeholder="Enter Primary Phone Number">
                                <span class="required" id="claim_errmsg_number"></span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class=" col-md-6 ">
                            <p>Fax</p>

                            <div class="input-field">
                                <input class="text-input input-styling fax claim_tab patientClaimInfoTxtField" id="claim_fax" type="text" asp-for="patientClaimInfo.Fax" placeholder="Enter Fax Number">
                                <span class="required" id="claim_errmsg_fax"></span>

                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <p>
                                Email<span class="required"> * </span>
                            </p>
                            <input class="text-input input-styling claim_tab patientClaimInfoTxtField" id="claimInfoEmail" onkeypress="return AvoidSpace(event)" type="email" asp-for="patientClaimInfo.Email" placeholder="Enter Email Address">
                            <span class="required" asp-validation-for="patientClaimInfo.Email"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-6 ">
                            <p>Adjuster Name<span class="required"> * </span></p>

                            <div class="input-field">
                                <input class="text-input input-styling claim_tab patientClaimInfoTxtField" id="ClaimInfoadjusterName" type="text" asp-for="patientClaimInfo.AdjusterName" placeholder="Enter adjuster Name">
                                <span class="required" asp-validation-for="patientClaimInfo.AdjusterName"></span>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <p>
                                Adjuster Id
                            </p>
                            <input class="text-input input-styling claim_tab patientClaimInfoTxtField" asp-for="patientClaimInfo.AdjusterID" type="text" placeholder="Enter adjuster ID">
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-6 ">
                            <p>Adjuster Phone<span class="required"> * </span></p>

                            <div class="input-field">
                                <input class="text-input input-styling phoneno claim_tab patientClaimInfoTxtField" id="adjust_claim_num" asp-for="patientClaimInfo.AdjusterPhone" type="text" id="adjusterPhone" placeholder="Enter adjuster Phone">
                                <span class="required" asp-validation-for="patientClaimInfo.AdjusterPhone"></span>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <p>
                                Adjuster Extension
                            </p>
                            <input class="text-input input-styling claim_tab patientClaimInfoTxtField" type="text" asp-for="patientClaimInfo.AdjusterExtension" placeholder="Enter adjuster Extension">
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-6 ">
                            <p>Adjuster Fax<span class="required"> * </span></p>

                            <div class="input-field">
                                <input class="text-input input-styling fax claim_tab patientClaimInfoTxtField" id="adjust_claim_fax" asp-for="patientClaimInfo.AdjusterFax" type="text" placeholder="Enter adjuster fax">
                                @*<span class="required" id="adjust_claim_errmsg_fax"></span>*@
                                <span class="required" asp-validation-for="patientClaimInfo.AdjusterFax"></span>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <p>
                                Adjuster Email<span class="required"> * </span>
                            </p>
                            <input class="text-input input-styling claim_tab patientClaimInfoTxtField" id="climInfoAdjusterEmail" onkeypress="return AvoidSpace(event)" asp-for="patientClaimInfo.AdjusterEmail" type="email" placeholder="Enter adjuster Email">
                            <span class="required" asp-validation-for="patientClaimInfo.AdjusterEmail"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-6 ">
                            <p>NF2 Filled Date<span class="required"> * </span></p>

                            <div class="input-field">
                                <input type="text" id="nf2FilledDateInput" class="datepicker text-input claim_tab patientClaimInfoTxtField" asp-for="patientClaimInfo.NF2FillingDate" placeholder="MM/DD/YYYY">
                                <span id="nf2DateValidationSpan" class="required" asp-validation-for="patientClaimInfo.NF2FillingDate"></span>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <p>
                                Case Type<span class="required"> * </span>
                            </p>
                            <div class="input-field claimSelect_tab">
                                <select id="Patient_caseType" class="select2 patientClaimInfoTxtField genericClassForDD claimDropDListBeforeEditDisabled" asp-for="patientClaimInfo.CaseType" data-placeholder="Select Case Type">
                                    <option selected value="" disabled></option>
                                    <option value="No-Fault">No-Fault</option>
                                    <option value="WC">WC</option>
                                    <option value="Private">Private</option>
                                    <option value="Self/Out of Pocket">Self/Out of Pocket</option>
                                    <option value="Medicare">Medicare</option>
                                    <option value="Tricare">Tricare</option>
                                    <option value="Champva">Champva</option>
                                    <option value="Group Health Plan">Group Health Plan</option>
                                    <option value="Feca Blk Lung">Feca Blk Lung</option>
                                    <option value="Medicaid">Medicaid</option>
                                    <option value="Lien">Lien</option>
                                </select>
                                @*<p class="required" id="casetype_err"></p>*@
                                <span class="required" asp-validation-for="patientClaimInfo.CaseType"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class=" col-md-6 ">
                            <p>Date of Incident/First Occurrence<span class="required"> * </span></p>

                            <div class="input-field">
                                <input type="text" class="datepicker text-input claim_tab patientClaimInfoTxtField" asp-for="patientClaimInfo.DateOfIncident" placeholder="MM/DD/YYYY">
                                <span class="required" asp-validation-for="patientClaimInfo.DateOfIncident"></span>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <p>
                                Time of Incident
                            </p>
                            <div class="input-field col s12 m12 l12 pl-0">
                                <input type="text" class="timepicker text-input claim_tab patientClaimInfoTxtField" asp-for="patientClaimInfo.TimeOfIncident" placeholder="Select Time">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <p>Was the Incident In the course of employment?</p>
                            <div class="input-field">
                                <ul class="icheck-list">
                                    <li class="yes">
                                        <input type="radio" class="check patientClaimInfoTxtField" asp-for="patientClaimInfo.WasCasuseOfEmployment" checked value="1" id="square-radio-1">
                                        <label for="square-radio-1">Yes</label>
                                    </li>
                                    <li class="no">
                                        <input type="radio" id="square-radio-2" class="check patientClaimInfoTxtField" asp-for="patientClaimInfo.WasCasuseOfEmployment" value="0">
                                        <label for="square-radio-2">No</label>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <p>Was Policy effect at the time of incident?</p>
                            <div class="input-field">
                                <ul class="icheck-list">
                                    <li class="yes">
                                        <input type="radio" class="check patientClaimInfoTxtField" group="IsBilledAmountVisible" asp-for="patientClaimInfo.PolicyEffectAtIncidentTime" value="1" id="square-radio-1" data-radio="iradio_square-red">
                                        <label for="square-radio-1">Yes</label>
                                    </li>
                                    <li class="no">
                                        <input type="radio" class="check patientClaimInfoTxtField" group="IsBilledAmountVisible" asp-for="patientClaimInfo.PolicyEffectAtIncidentTime" value="0" id="square-radio-2" data-radio="iradio_square-red" checked>
                                        <label for="square-radio-2">No</label>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-5 col-xs-10 col-xl-5  col-10">
                            <p>
                                Patient role in the incident
                            </p>

                            <div class="input-field claimSelect_tab">
                                <select id="Patient_RoleIncident" class="select2 incidentRole genericClassForDD claimDropDListBeforeEditDisabled" asp-for="patientClaimInfo.PatientIncidentRoleId" data-placeholder="Select Patient Role"
                                        asp-items="@(new SelectList(Model.IncidentList,"PatientIncidentRoleId","PatientRoleInIncident"))">
                                    <option selected value="" disabled></option>

                                </select>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-xl-1  col-2">
                            <a class="btn form-add-btn sideout" href="javascript:void(0);" onclick="ToggleSideBar('slide-out-right8')"><i class="ti ti-plus"></i></a>
                        </div>
                        <div class="col-md-5 col-xs-10 col-xl-5  col-10 ">
                            <p>
                                Incident Report Status
                            </p>
                            <div class="input-field claimSelect_tab">
                                <select id="Patient_incidentReport" class="select2 incidentReport genericClassForDD claimDropDListBeforeEditDisabled" asp-for="patientClaimInfo.IncidentReportId" data-placeholder="Select Incident Report Status"
                                        asp-items="@(new SelectList(Model.IncidentReportStatusList,"IncidentReportId","IncidentReportStatus1"))">
                                    <option selected value="" disabled></option>

                                </select>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-xl-1  col-2">
                            <a class="btn form-add-btn sideout" href="javascript:void(0);" onclick="ToggleSideBar('slide-out-right9')"><i class="ti ti-plus"></i></a>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-5 col-xs-10 col-xl-5  col-10">
                            <p>
                                NF2 Status<span class="required"> * </span>
                            </p>
                            <div class="input-field claimSelect_tab">
                                <select id="Patient_nf2Status" class="select2 genericClassForDD nf2list claimDropDListBeforeEditDisabled" asp-for="patientClaimInfo.Nf2Id" data-placeholder="Select Nf2 Status"
                                        asp-items="@(new SelectList(Model.Nf2list,"Nf2Id","Nf2Status1"))">
                                    <option selected disabled value=""></option>

                                </select>
                                <span class="required" asp-validation-for="patientClaimInfo.Nf2Id"></span>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-xl-1  col-2">
                            <a class="btn form-add-btn sideout" href="javascript:void(0);" onclick="ToggleSideBar('slide-out-right10')"><i class="ti ti-plus"></i></a>
                        </div>
                        <div class=" col-md-6 ">
                            <p>Place of Incident</p>

                            <div class="input-field">
                                <input class="text-input claim_tab patientClaimInfoTxtField" type="text" asp-for="patientClaimInfo.PlaceOfIncident" placeholder="Enter place of incident">
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class=" col-md-6  ">
                            <p>Claim Number</p>

                            <div class="input-field">
                                <input class="text-input input-styling claim_tab patientClaimInfoTxtField" type="text" asp-for="patientClaimInfo.ClaimNumber" placeholder="Enter Claim Number">
                            </div>
                        </div>
                        <div class="col-md-5 col-xs-10 col-xl-5  col-10 ">
                            <p>
                                Claim Status
                            </p>
                            <div class="input-field claimSelect_tab">
                                <select id="Patient_claimStatus" class="select2 claimlist genericClassForDD claimDropDListBeforeEditDisabled" asp-for="patientClaimInfo.ClaimStatusId"
                                        asp-items="@(new SelectList(Model.ClaimStatusList,"ClaimStatusId","ClaimStatus1"))">

                                    <option selected disabled value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-xl-1  col-2">
                            <a class="btn form-add-btn sideout" href="javascript:void(0);" onclick="ToggleSideBar('slide-out-right11')"><i class="ti ti-plus"></i></a>

                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-6  ">
                            <p>Policy Number</p>

                            <div class="input-field">
                                <input class="text-input input-styling claim_tab patientClaimInfoTxtField" asp-for="patientClaimInfo.PolicyNumber" type="text" placeholder="Enter Policy Number">
                            </div>
                        </div>
                        <div class=" col-md-6  ">
                            <p>Policy Holder Name</p>

                            <div class="input-field">
                                <input class="text-input input-styling claim_tab patientClaimInfoTxtField" type="text" asp-for="patientClaimInfo.PolicyHolderName" placeholder="Enter Policy Holder Name">
                            </div>
                        </div>
                        <div class=" col-md-6  ">
                            <p>Relationship to Policy Holder</p>

                            <div class="input-field">
                                <input class="text-input input-styling claim_tab patientClaimInfoTxtField" asp-for="patientClaimInfo.RelationShipToPolicyHolder" type="text" placeholder="Enter RelationShip To Policy Holder">
                            </div>

                        </div>

                        <div class=" col-md-6  ">
                            <p>Policy Limits</p>

                            <div class="input-field">
                                <input class="text-input input-styling claim_tab patientClaimInfoTxtField" asp-for="patientClaimInfo.PolicyNumber" type="text" placeholder="Enter Policy Limits">
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class=" col-md-6  ">
                            <p>WCB Number</p>

                            <div class="input-field">
                                <input class="text-input input-styling claim_tab patientClaimInfoTxtField" asp-for="patientClaimInfo.WCBNumber" type="text" placeholder="Enter WCB Number">
                                <span class="required" id="adjust_claim_errmsg_num"></span>

                            </div>
                        </div>
                        <div class=" col-md-6  ">
                            <p>WCB Case Number</p>

                            <div class="input-field">
                                <input class="text-input input-styling claim_tab patientClaimInfoTxtField" type="text" asp-for="patientClaimInfo.WCBCaseNumber" placeholder="Enter WCB Case Number">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-6  ">
                            <p>Group Number</p>

                            <div class="input-field">
                                <input class="text-input input-styling claim_tab patientClaimInfoTxtField" asp-for="patientClaimInfo.GroupNumber" type="text" placeholder="Enter Group Number">
                            </div>
                        </div>
                        <div class=" col-md-6  ">
                            <p>$CoPay</p>

                            <div class="input-field">
                                <input class="text-input input-styling copay claim_tab patientClaimInfoTxtField" type="text" asp-for="patientClaimInfo.CoPay" placeholder="Enter $CoPay">
                                <span class="required" asp-validation-for="patientClaimInfo.CoPay"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Accept Assignment?</p>
                            <div class="input-field">
                                <ul class="icheck-list">
                                    <li class="yes">
                                        <input type="radio" class="check patientClaimInfoTxtField" group="IsBilledAmountVisible" asp-for="patientClaimInfo.AcceptAssignment" value="1" id="square-radio-1" data-radio="iradio_square-red" checked>
                                        <label for="square-radio-1">Yes</label>
                                    </li>
                                    <li class="no">
                                        <input type="radio" class="check patientClaimInfoTxtField" group="IsBilledAmountVisible" asp-for="patientClaimInfo.AcceptAssignment" value="0" id="square-radio-2" data-radio="iradio_square-red">
                                        <label for="square-radio-2">No</label>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p>Policy Effective Date</p>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-field">
                                        <input class="text-input input-styling claim_tab patientClaimInfoTxtField" id="PolicyStartDate" type="text" asp-for="patientClaimInfo.PolicyEffectiveDate" placeholder="MM/DD/YYYY">

                                    </div>

                                </div>
                                To
                                <div class="col-md-5">
                                    <div class="input-field">

                                        <input class="text-input input-styling claim_tab patientClaimInfoTxtField" id="PolicyEndDate" type="text" asp-for="patientClaimInfo.PolicyEffectEndDate" placeholder="MM/DD/YYYY">
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                    <hr />
                    <div class="row"> 
                        <div class=" col-md-6">
                            <p>Employer Name</p>

                            <div class="input-field">
                                <input class="text-input input-styling claim_tab patientClaimInfoTxtField" asp-for="patientClaimInfo.EmployerName" type="text" placeholder="Enter Employer Name">
                                <span class="required" id="adjust_claim_errmsg_num"></span>

                            </div>
                        </div>
                        <div class=" col-md-6">
                            <p>Employer Phone</p>

                            <div class="input-field">
                                <input class="text-input input-styling claim_tab patientClaimInfoTxtField" type="text" asp-for="patientClaimInfo.EmployerPhone" placeholder="Enter Employer Phone">
                            </div>
                        </div>
                        <div class=" col-md-12">
                            <p>Employer Address</p>

                            <div class="input-field">
                                <input class="text-input input-styling claim_tab patientClaimInfoTxtField" type="text" asp-for="patientClaimInfo.EmployerAddress" placeholder="Enter Employer Address">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 mb-2">
                        <div class="col s12">
                            <div class="center">
                                <button type="submit" id="btnPatientClaimInfo" class="btn add-btn">Save</button>

                                @if (ViewBag.Action == "Update")
                                {
                                    <button type="button" data-val="claimForm" id="claimEdit_btn" class="btn Recreate patientEditBtn">Edit</button>
                                    <button type="button" data-val="claimForm" id="claimCancel_btn" class="Recreate btn patientCancelBtn">Cancel</button>
                                }
                                else
                                {
                                    @*<a href="javascript:void(0);" data-val="NewForm" id="claimCancel_btn"  class="btn Recreate">Edit</a>*@
                                    <a href="javascript:void(0);" data-val="NewForm" id="claimCancel_btn" onclick="emptyPatientClaimFields();" class="Recreate btn">Cancel</a>
                                }
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>
<div class="right-sidebar slide-out-right8">
    <div class="slimscrollright">

        <div class="row">
            <div class="col"> <span><i class="ti-close left right-side-close right-side-toggle color_Close"></i></span> </div>
        </div>

        <div class="r-panel-body">
            <form asp-action="patientRoleIncident" asp-controller="PatientSide" data-ajax-begin="AjaxBegin()" method="post" data-ajax="true" data-ajax-success="onCreatePatientRoleIncident(data)" class="col s12">

                <div class="row">
                    <div class="col-12">
                        <h6>Add New Incident Role</h6>

                        <input class="text-input  addpatientRoleIncident" asp-for="patientIncidentRole.PatientRoleInIncident" type="text" placeholder="Add new patient role in the incident">
                        <span class="required" asp-validation-for="patientIncidentRole.PatientRoleInIncident"> </span>
                        <button type="submit" class="modal-action btn add-btn right">Save</button>

                    </div>
                </div>
                </form>
        </div>
    </div>
</div>
<div class="right-sidebar slide-out-right9">
    <div class="slimscrollright">

        <div class="row">
            <div class="col"> <span><i class="ti-close left right-side-close right-side-toggle color_Close"></i></span> </div>
        </div>

        <div class="r-panel-body">
            <form asp-action="IncidentReportStatus" asp-controller="PatientSide" data-ajax-begin="AjaxBegin()" method="post" data-ajax="true" data-ajax-success="onCreatePatientIncidentReport(data)" class="col s12">

                <div class="row">
                    <div class="col-12">
                        <h6>Add New Report Status</h6>
                        <input class="text-input input-styling incidentReportStatusadd" asp-for="IncidentReportStatusBasicDto.IncidentReportStatus1" type="text" placeholder=" Add new incident report status">
                        <span class="required" asp-validation-for="IncidentReportStatusBasicDto.IncidentReportStatus1"></span>
                        <button type="submit" class="modal-action btn add-btn right">Save</button>

                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<div class="right-sidebar slide-out-right10">
    <div class="slimscrollright">

        <div class="row">
            <div class="col"> <span><i class="ti-close left right-side-close right-side-toggle color_Close"></i></span> </div>
        </div>

        <div class="r-panel-body">
            <form asp-action="nf2Status" asp-controller="PatientSide" data-ajax-begin="AjaxBegin()" method="post" data-ajax="true" data-ajax-success="onCreatePatientnf2(data)" class="col s12">

                <div class="row">
                    <div class="col-12">
                        <h6>Add New NF2 Status</h6>
                        <input class="text-input input-styling addPatientnf2" asp-for="nf2Status.Nf2Status1" type="text" placeholder="Add new NF2 status">
                        <span class="required" asp-validation-for="nf2Status.Nf2Status1"></span>
                        <button type="submit" class="modal-action btn add-btn right">Save</button>

                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<div class="right-sidebar slide-out-right11">
    <div class="slimscrollright">

        <div class="row">
            <div class="col"> <span><i class="ti-close left right-side-close right-side-toggle color_Close"></i></span> </div>
        </div>

        <div class="r-panel-body">
            <form asp-action="PatientClaimStatus" asp-controller="PatientSide" data-ajax-begin="AjaxBegin()" method="post" data-ajax="true" data-ajax-success="onCreatePatientclaimstatus(data)" class="col s12">

                <div class="row">
                    <div class="col-12">
                        <h6>Add New Claim Status</h6>
                        <input class="text-input input-styling addClaimStatusInfo" asp-for="claimStatusBasicDto.ClaimStatus1" type="text" placeholder="Add new claim status">
                        <span class="required" asp-validation-for="claimStatusBasicDto.ClaimStatus1"></span>
                        <button type="submit" class="modal-action btn add-btn right">Save</button>

                    </div>
                </div>
            </form>

        </div>
    </div>
</div>