
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div class="tab-pane  p-20" id="emergency" role="tabpanel">
        <section class="Exams">
            <div class="card">
                <div class="card-content">
                    <div class="container" style="max-width: 100%;">
                        <div class="row">
                            <h5 class="color-blue">Emergency Contact</h5>
                            <form class="col-sm-12  ">

                                <div class="row">

                                    <div class="col ">
                                        <p>
                                            First Name

                                        </p>

                                        <div class="input-field">
                                            <input type="text" class="text-input" placeholder="Enter First Name">
                                        </div>

                                    </div>
                                    <div class="col ">
                                        <p>
                                            Middle Name

                                        </p>

                                        <div class="input-field">
                                            <input type="text" class="text-input" placeholder="Enter Middle Name">
                                        </div>

                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col ">
                                        <p>
                                            Last Name

                                        </p>

                                        <div class="input-field">
                                            <input type="text" class="text-input" placeholder="Enter Last Name">
                                        </div>

                                    </div>
                                    <div class="col ">
                                        <p>
                                            Relationship


                                        </p>

                                        <div class="input-field">
                                            <select class="select2 form-control  text-input" data-placeholder="Select RelationShip" style="width: 100%;">
                                                <option selected value=""></option>
                                                <option value="AK">Brother</option>
                                                <option value="AK">Sister</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col ">
                                        <p>Same as Patient Address?</p>

                                    </div>
                                </div>

                                <div class="row">


                                    <div class="col ">
                                        <p>
                                            Address Line1

                                        </p>

                                        <div class="input-field">
                                            <input type="text" class="text-input" placeholder="Enter Address Line1">
                                        </div>

                                    </div>
                                    <div class="col ">
                                        <p>
                                            Address Line2

                                        </p>

                                        <div class="input-field">
                                            <input type="text" class="text-input" placeholder="Enter Address Line 2">
                                        </div>

                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <p>
                                            Address Line3

                                        </p>

                                        <div class="input-field">
                                            <input type="text" class="text-input" placeholder="Enter Address Line 3">
                                        </div>

                                    </div>


                                    <div class="col ">
                                        <p>
                                            Zip Code

                                        </p>

                                        <div class="input-field">
                                            <input type="text" class="text-input" placeholder="Enter Zip Code">
                                        </div>

                                    </div>

                                    <div class="col ">
                                        <p>
                                            Country

                                        </p>

                                        <div class="input-field">
                                            <input type="text" class="text-input" placeholder="Enter Country Name">
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col ">
                                        <p>
                                            State

                                        </p>

                                        <div class="input-field">
                                            <input type="text" class="text-input" placeholder="Enter State Name">
                                        </div>
                                    </div>
                                    <div class="col ">
                                        <p>
                                            City

                                        </p>

                                        <div class="input-field">
                                            <input type="text" class="text-input" placeholder="Enter City Name">
                                        </div>
                                    </div>
                                    <div class=" col-md-6">
                                        <p>Home Phone</p>

                                        <div class="input-field">
                                            <input type="text" class="text-input" placeholder="Enter Home Number">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class=" col ">
                                        <p>Mobile Phone</p>

                                        <div class="input-field">
                                            <input type="text" class="text-input" placeholder="Enter Mobile Phone">
                                        </div>
                                    </div>
                                    <div class=" col ">
                                        <p>Fax</p>

                                        <div class="input-field">
                                            <input type="text" class="text-input" placeholder="Enter Fax">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class=" col-md-6 ">
                                        <p>Email</p>

                                        <div class="input-field">
                                            <input type="email" class="text-input" placeholder="Enter Email">
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">

                                    <div class=" col-md-6 ">
                                      
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck6" checked>
                                            <label class="custom-control-label" for="customCheck6">Accept SMS Notification & Reminders</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck7" checked>
                                            <label class="custom-control-label" for="customCheck7">Accept Email Notification & Reminders</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col">
                                        <p>Communication Preference</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="input-field">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck8" checked>
                                                <label class="custom-control-label" for="customCheck8">SMS</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-field">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck9" checked>
                                                <label class="custom-control-label" for="customCheck9">Phone</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-field">
                                            <div class="custom-control custom-checkbox"> 
                                                <input type="checkbox" class="custom-control-input" id="customCheck10" checked>
                                                <label class="custom-control-label" for="customCheck10">Email</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </form>
                        </div>
                        <div class="row mt-5">
                            <div class="col s12 m12">
                                <div class="center">
                                    <a href="javascript:void(0);" class="waves-effect waves-light btn add-btn">Save</a>
                                    <a href="javascript:void(0);" class="waves-effect waves-light Recreate btn">Edit</a>
                                    <a href="javascript:void(0);" class="waves-effect waves-light Recreate btn">Cancel</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
           
        </section>
    </div>